Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Update devcontainers to use cuda12.2 (#72)
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners

Enable forward-merger ops-bot plugin (#70)
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

Fixing brute-force python build
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Add `lucene-cuvs` to integrations section of docs (#73)
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

Add Cagra-Q compression to the python and rust api's (#68)
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
Owners: @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

Enable all tests for `arm` jobs (#63)
  ci/test_wheel_cuvs.sh
  ci/wheel_smoke_test_cuvs.py
Owners: @rapidsai/ops-codeowners

Fix some versions for 24.04 release
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

apply patch from #72
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Init IVFPQ migration
  cpp/include/cuvs/core/exceptions.hpp
  cpp/include/cuvs/neighbors/detail/ivf_common.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_build.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_codepacking.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_compute_similarity.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_fp_8bit.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_search.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_serialize.cuh
  cpp/include/cuvs/neighbors/ivf_list.hpp
  cpp/include/cuvs/neighbors/ivf_list_types.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cu
Owners: @rapidsai/cuvs-cpp-codeowners

rm (stable) rapidsai channel
  ci/build_cpp.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

Fixing brute-force python build
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

update devcontainer base image tags and 12.0 -> 12.2
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

remove unnecessary CMake configure args
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

add arch and cuda inputs to devcontainer PR job
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Fix for 24.04 release (#75)
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners

Migrate ivf-pq build steps to cuvs
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/detail/ivf_common.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_codepacking.cuh
  cpp/include/cuvs/neighbors/ivf_list.hpp
  cpp/include/cuvs/neighbors/ivf_list_types.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.cuh
  cpp/src/neighbors/ivf_pq/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq_index.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Migrate ivf-pq extend to cuvs
  cpp/CMakeLists.txt
  cpp/src/neighbors/ivf_pq/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_codepacking.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search_uint8_t_int64_t.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Update the developer's guide with new copyright hook
  docs/source/developer_guide.md
Owners: @rapidsai/cuvs-docs-codeowners

Add python and rust bindings for Ivf-Flat
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/test/neighbors/run_ivf_flat_c.c
  examples/cpp/src/cagra_example.cu
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.py
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/test/test_doctests.py
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/ivf_flat/index.rs
  rust/cuvs/src/ivf_flat/index_params.rs
  rust/cuvs/src/ivf_flat/mod.rs
  rust/cuvs/src/ivf_flat/search_params.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

fix python link
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Use static gtest
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners

Update the developer's guide with new copyright hook (#81)
  docs/source/developer_guide.md
Owners: @rapidsai/cuvs-docs-codeowners

add missing pytest
  python/cuvs/cuvs/test/test_ivf_flat.py
Owners: @rapidsai/cuvs-python-codeowners

fix
  python/cuvs/cuvs/test/test_ivf_flat.py
Owners: @rapidsai/cuvs-python-codeowners

Use static gtest (#83)
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners

Migrate ivf-pq serialize to cuvs
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/src/neighbors/ivf_pq_serialize.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Apply suggestions from code review
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners

Migrate compute similarity
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/bitset_filter.cuh
  cpp/include/cuvs/neighbors/sample_filter.hpp
  cpp/src/neighbors/ivf_pq/generate_ivf_pq_compute_similarity.py
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half_bitset64.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_fp_8bit.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix rust docs build
  ci/build_docs.sh
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

remove rsync call
  ci/build_docs.sh
Owners: @rapidsai/ops-codeowners

Migrate search
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/exceptions.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search_float_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_search_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_search_uint8_t_int64_t.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix rust docs build (#84)
  ci/build_docs.sh
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Moving over the raft public APIs (into cuVS source directory).
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance-inl.cuh
  cpp/src/distance/distance.cuh
  cpp/src/distance/distance_types.hpp
  cpp/src/distance/fused_distance_nn-ext.cuh
  cpp/src/distance/fused_distance_nn-inl.cuh
  cpp/src/distance/fused_distance_nn.cuh
  cpp/src/distance/fused_distance_nn_helpers.cuh
  cpp/src/distance/fused_l2_nn-ext.cuh
  cpp/src/distance/fused_l2_nn-inl.cuh
  cpp/src/distance/fused_l2_nn.cuh
  cpp/src/distance/kernels.cuh
  cpp/src/distance/masked_nn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Adding instantion files for pairwise
  cpp/CMakeLists.txt
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch-inl.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_00_generate.py
  cpp/src/distance/detail/pairwise_matrix/dispatch_canberra_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_canberra_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_correlation_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_correlation_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_cosine_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_cosine_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_hamming_unexpanded_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_hamming_unexpanded_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_hellinger_expanded_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_hellinger_expanded_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_jensen_shannon_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_jensen_shannon_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_kl_divergence_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_kl_divergence_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l1_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l1_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l2_expanded_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l2_expanded_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l2_unexpanded_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l2_unexpanded_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l_inf_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l_inf_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_layout.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_lp_unexpanded_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_lp_unexpanded_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_rbf.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_russel_rao_double_double_double_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_russel_rao_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_sm60.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_sm80.cuh
  cpp/src/distance/detail/pairwise_matrix/kernel_sm60.cuh
  cpp/src/distance/distance.cu
  cpp/src/distance/fused_distance_nn.cu
  cpp/src/distance/fused_l2_nn.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

It seems to build!
  cpp/src/distance/detail/distance.cuh
  cpp/src/distance/detail/fused_distance_nn.cuh
  cpp/src/distance/detail/fused_distance_nn/fused_cosine_nn.cuh
  cpp/src/distance/detail/fused_distance_nn/fused_l2_nn.cuh
  cpp/src/distance/detail/fused_distance_nn/predicated_tile_iterator_reduced_vec.h
  cpp/src/distance/detail/fused_distance_nn/simt_kernel.cuh
  cpp/src/distance/detail/fused_l2_nn.cuh
  cpp/src/distance/detail/kernels/gram_matrix.cuh
  cpp/src/distance/detail/kernels/kernel_matrices.cuh
  cpp/src/distance/detail/kernels/rbf_fin_op.cuh
  cpp/src/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_canberra_float_float_float_int.cu
  cpp/src/distance/detail/pairwise_matrix/dispatch_l1_double_double_double_int.cu
  cpp/src/distance/distance-inl.cuh
  cpp/src/distance/fused_distance_nn-inl.cuh
  cpp/src/distance/fused_distance_nn_helpers.cuh
  cpp/src/distance/fused_l2_nn-inl.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

And it builds!o
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/fused_distance_nn.hpp
  cpp/include/cuvs/distance/pairwise_distance.hpp
  cpp/src/distance/fused_l2_nn-ext.cuh
  cpp/src/distance/fused_l2_nn-inl.cuh
  cpp/src/distance/fused_l2_nn.cu
  cpp/src/distance/fused_l2_nn.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Add Test for IVFPQ
  cpp/include/cuvs/neighbors/detail/ivf_pq_build.cuh
  cpp/include/cuvs/neighbors/detail/ivf_pq_codepacking.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/ivf_pq_helpers.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Temporarily remove IVFPQ Search with filter
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Reset exceptions
  cpp/include/cuvs/core/exceptions.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Remove gtest from dependencies.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners
