Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#cmake code owners
CMakeLists.txt     @rapidsai/cuvs-cmake-codeowners
**/cmake/          @rapidsai/cuvs-cmake-codeowners
*.cmake            @rapidsai/cuvs-cmake-codeowners

#build code owners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

Remove a failing function call
  cpp/tests/neighbors/ann_vamana.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Move helper function to anonymous namespace
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Remove update to unused function
  cpp/src/neighbors/vamana.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

clang-format
  cpp/include/cuvs/neighbors/common.hpp
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  examples/cpp/src/vamana_example.cu
Owners: @rapidsai/cuvs-cpp-codeowners

(WIP) Quantizer file parser
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Separate pq pivots and rotation matrix inputs
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  examples/cpp/src/vamana_example.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Align output file names with DiskANN
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

not using gnnd.hpp
  cpp/src/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

removing libxml pin
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

align32
  cpp/src/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

align32
  cpp/src/neighbors/detail/nn_descent_batch.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

rm gnnd.hpp
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Support for removing duplicate nodes
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/device_common.hpp
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Improve detection of duplicate nodes (2)
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Improve detection of duplicate nodes
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Add support for half in CAGRA+HNSW
  cpp/cmake/patches/hnswlib.diff
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw.cpp
  cpp/src/neighbors/hnsw_c.cpp
  cpp/tests/neighbors/hnsw.cu
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pyx
  python/cuvs/cuvs/tests/test_hnsw.py
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Remove CAGRA+HNSW changes, continued into PR#813
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  cpp/cmake/patches/hnswlib.diff
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/tests/neighbors/hnsw.cu
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pyx
Owners: @rapidsai/packaging-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Fix style
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

update panama classes
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CagraH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraCompressionParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraExtendParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraSearchParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSIvfPqIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSIvfPqIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSIvfPqParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSIvfPqSearchParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLDevice.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLManagedTensor.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLTensor.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/Fsidt.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/MaxAlignT.java
Owners: none

add IVF_PQ parameter classes
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqIndexParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqSearchParams.java
Owners: none

add enums
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndexParams.java
Owners: none

plug ivf_pq params into cagra index params
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndexParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
Owners: none

trim down n_lists value when rows < n_lists
  java/internal/src/cuvs_java.c
Owners: none

housekeeping
  java/cuvs-java/.gitignore
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
Owners: none

remove gpg plugin
  java/cuvs-java/pom.xml
Owners: none

correction
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
Owners: none

housekeeping
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CagraH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSFilter.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSHnswIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLManagedTensorVersioned.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLPackVersion.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DistanceH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DlpackH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/Fsidt.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/IvfPqH.java
Owners: none

back to separating gnnd declarations
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_batch.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
  cpp/src/neighbors/nn_descent_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Update libcuvs libraft ver to 25.06 in conda env (#808)
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

remove comment
  cpp/src/neighbors/detail/nn_descent_batch.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

newline
  cpp/src/neighbors/nn_descent_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

upload to https://downloads.rapids.ai/
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

for checking binary file size
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
  cpp/src/neighbors/nn_descent_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

update HNSW example
  java/examples/src/main/java/com/nvidia/cuvs/examples/HnswExample.java
Owners: none

Update usage description
  examples/cpp/src/vamana_example.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

Fix bench HNSW
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

bring back original gnnd
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
  cpp/src/neighbors/nn_descent_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

add build for nightlies & releases
  .github/workflows/build.yaml
  ci/build_java.sh
  dependencies.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners
