Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Add Rust API docs
  build.sh
  dependencies.yaml
  docs/source/rust_api.rst
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/lib.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-rust-codeowners

try to fix docs build
  ci/build_docs.sh
Owners: @rapidsai/ops-codeowners

Remove hard-coding of RAPIDS version where possible (#45)
  build.sh
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  fetch_rapids.cmake
  python/cuvs/CMakeLists.txt
  rapids_config.cmake
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Check *.rs files
  .pre-commit-config.yaml
Owners: none

Fixing package issuey
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  docs/source/api_docs.rst
  docs/source/getting_started.md
  docs/source/index.rst
  docs/source/integrations.md
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners

Breaking apart getting started guide
  docs/source/basics.md
  docs/source/getting_started.md
  docs/source/interoperability.md
  docs/source/working_with_ann_indexes.md
Owners: @rapidsai/cuvs-docs-codeowners

MOre updates
  docs/source/basics.md
  docs/source/basics.rst
  docs/source/getting_started.md
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/integrations.md
  docs/source/integrations.rst
  docs/source/interoperability.md
  docs/source/interoperability.rst
  docs/source/working_with_ann_indexes.md
  docs/source/working_with_ann_indexes.rst
Owners: @rapidsai/cuvs-docs-codeowners

Add Rust API docs (#49)
  build.sh
  ci/build_docs.sh
  dependencies.yaml
  docs/source/rust_api.rst
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/lib.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-rust-codeowners

add rust to conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add rust to conda environments (#50)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Dlpack docs
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

fix typo
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

Add upper bound to prevent usage of NumPy 2.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

Adding integrations page
  README.md
  docs/source/basics.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

More updates to integrations
  .gitignore
  docs/source/basics.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

Exlcluding rust docs dir
  .gitignore
Owners: none

Fixing links
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

Fixing more links
  docs/source/basics.rst
Owners: @rapidsai/cuvs-docs-codeowners

Converting build and install guide to rst
  README.md
  docs/source/build.md
  docs/source/build.rst
  docs/source/index.rst
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

Adding rust
  docs/source/basics.rst
Owners: @rapidsai/cuvs-docs-codeowners

MOre updates
  docs/source/working_with_ann_indexes.rst
Owners: @rapidsai/cuvs-docs-codeowners

`quick start` and `integrations` guides for the docs (#47)
  .gitignore
  README.md
  docs/source/api_docs.rst
  docs/source/basics.rst
  docs/source/build.md
  docs/source/build.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/integrations.rst
  docs/source/interoperability.rst
  docs/source/quick_start.md
  docs/source/working_with_ann_indexes.rst
Owners: @rapidsai/cuvs-docs-codeowners

Add upper bound to prevent usage of NumPy 2 (#52)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

more info
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

fix bad merge
  README.md
  docs/source/basics.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

more bad merge fix
  docs/source/build.md
Owners: @rapidsai/cuvs-docs-codeowners

bad merge
  docs/source/basics.rst
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

bad merge
  docs/source/basics.rst
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

bad merge
  README.md
Owners: none

bad merge
  README.md
Owners: none

bad merge
  docs/source/basics.rst
Owners: @rapidsai/cuvs-docs-codeowners

bad merge
  docs/source/basics.rst
Owners: @rapidsai/cuvs-docs-codeowners

hopefully final bad merge
  docs/source/basics.rst
Owners: @rapidsai/cuvs-docs-codeowners

Update build.sh to build rust bindings
  README.md
  build.sh
  ci/release/update-version.sh
  rust/Cargo.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-rust-codeowners

use build.sh in ci/build_rust.sh
  build.sh
  ci/build_rust.sh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

update build docs for rust build
  docs/source/build.rst
Owners: @rapidsai/cuvs-docs-codeowners

add c example
  docs/source/interoperability.rst
  examples/cpp/CMakeLists.txt
  examples/cpp/cmake/thirdparty/get_cuvs.cmake
  examples/cpp/src/cagra_c_example.cu
  examples/cpp/src/common.cuh
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Converted memory footprint to markdown
  docs/memory-footprint.md
Owners: @rapidsai/cuvs-docs-codeowners

attempt to fix unbound variable error in build.sh
  build.sh
Owners: @rapidsai/cuvs-build-codeowners

fix
  ci/build_rust.sh
Owners: @rapidsai/ops-codeowners
