Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Fix cuvs API
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix the recursive func call issue by adding template params explicitly
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix assertion
  cpp/src/neighbors/cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Move the comments of `cagra::build` and `cagra::search` to hpp
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Remove ref to build_knn_graph
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix CAGRA test (build_algo)
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix new vector addition test
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Add extend_params
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/test/neighbors/ann_cagra.cuh
  docs/source/cpp_api/neighbors_cagra.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Fix CAGRA config log in test
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Add doxygengroup
  docs/source/cpp_api/neighbors_cagra.rst
Owners: @rapidsai/cuvs-docs-codeowners

Update CAGRA new vector addition test
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Handle detailed CAGRA build params in benchmark wrapper
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Add compatibility helper for aliasing cuvs-raft algorithms to allow using old raft configs with the new benchmark executable
  cpp/bench/ann/src/common/benchmark.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style errors
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Re-enable all benchmark components
  cpp/bench/ann/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Allow serialization on streams
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/cagra_serialize.cuh
  cpp/src/neighbors/cagra_serialize_float.cu
  cpp/src/neighbors/cagra_serialize_int8.cu
  cpp/src/neighbors/cagra_serialize_uint8.cu
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

[FEA] expose python & C API for prefiltered brute force
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/prefilters.h
  cpp/src/neighbors/brute_force_c.cpp
  cpp/test/neighbors/brute_force_c.cu
  cpp/test/neighbors/run_brute_force_c.c
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/prefilters/CMakeLists.txt
  python/cuvs/cuvs/neighbors/prefilters/__init__.pxd
  python/cuvs/cuvs/neighbors/prefilters/__init__.py
  python/cuvs/cuvs/neighbors/prefilters/prefilters.pxd
  python/cuvs/cuvs/neighbors/prefilters/prefilters.pyx
  python/cuvs/cuvs/test/test_brute_force.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-build-codeowners

Add refine to the Python and C api's
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/refine.h
  cpp/src/neighbors/refine/refine_c.cpp
  python/cuvs/cuvs/neighbors/CMakeLists.txt
  python/cuvs/cuvs/neighbors/__init__.py
  python/cuvs/cuvs/neighbors/refine.pxd
  python/cuvs/cuvs/neighbors/refine.pyx
  python/cuvs/cuvs/test/test_refine.py
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Update Changelog [skip ci]
  CHANGELOG.md
Owners: none

Apply clang-tidy suggestions
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.cpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/thread_pool.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_float.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_int8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_uint8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

re-add hnswlib serialization functions
  cpp/src/neighbors/cagra_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Remove the unused dev_list parameter and add a few more clang-tidy fixes
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.cpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

allow np.float16 inputs to the python refine api
  cpp/include/cuvs/core/detail/interop.hpp
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/neighbors/refine.pyx
  python/cuvs/cuvs/test/test_refine.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Allow serialization on streams (#173)
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/cagra_serialize.cuh
  cpp/src/neighbors/cagra_serialize_float.cu
  cpp/src/neighbors/cagra_serialize_int8.cu
  cpp/src/neighbors/cagra_serialize_uint8.cu
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

inner product
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/nn_descent_index.cpp
  cpp/test/neighbors/ann_cagra.cuh
  python/cuvs/cuvs/test/test_cagra.py
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

tweak test for fp16
  python/cuvs/cuvs/test/test_refine.py
Owners: @rapidsai/cuvs-python-codeowners

Fix by review comments
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/prefilters/prefilters.pyx
Owners: @rapidsai/cuvs-python-codeowners

Fix CI issue
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
Owners: @rapidsai/cuvs-python-codeowners

Fix the doc issue
  cpp/include/cuvs/neighbors/prefilters.h
Owners: @rapidsai/cuvs-cpp-codeowners

Fix using missing (de)serialize_file
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

add dataset_norm to kmeans balanced
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_flat/test_float_int64_t.cu
Owners: @rapidsai/cuvs-cpp-codeowners

fix kmeans
  cpp/src/cluster/detail/kmeans_balanced.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Remove text doc builds
  ci/build_docs.sh
Owners: @rapidsai/ops-codeowners

Scaling workspace resources
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

fix rust build
  rust/cuvs/src/brute_force.rs
Owners: @rapidsai/cuvs-rust-codeowners

fix the doc issue, 2nd try
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/prefilters.h
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Add refine to the Python and C api's (#175)
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/neighbors/refine.h
  cpp/src/neighbors/refine/refine_c.cpp
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/neighbors/CMakeLists.txt
  python/cuvs/cuvs/neighbors/__init__.py
  python/cuvs/cuvs/neighbors/refine.pxd
  python/cuvs/cuvs/neighbors/refine.pyx
  python/cuvs/cuvs/test/test_refine.py
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

[Don't merge]
  README.md
Owners: none

fix CI new issue
  python/cuvs/cuvs/neighbors/__init__.py
Owners: @rapidsai/cuvs-python-codeowners
