Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Initialize the bitmap with `rmat_rectangular_gen`
  cpp/test/neighbors/brute_force_prefiltered.cu
Owners: @rapidsai/cuvs-cpp-codeowners

cleanup API - use std::variant to switch algo of cagra graph build
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

fix c-api nn_descent
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

move documentation to API header
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

correct typo
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

review suggestions
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

check valid nn_descent graph-degree / rename build_paramas to graph_build_params
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

handle new param in C API
  cpp/src/neighbors/ivf_pq_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

updating docs
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

add `TODO` for `detail::popc`
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force_prefiltered.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Review feedback
  dependencies.yaml
  python/cuvs/cuvs/_version.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

don't use templates for select_k in public api
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/selection/select_k.cuh
  cpp/src/selection/select_k_float_int64_t.cu
  cpp/src/selection/select_k_float_uint32_t.cu
  cpp/src/selection/select_k_half_uint32_t.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Add version test
  python/cuvs/cuvs/test/test_version.py
Owners: @rapidsai/cuvs-python-codeowners

doc fixes
  cpp/include/cuvs/selection/select_k.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

For now, removing output of all notebook cells
  cpp/include/cuvs/cluster/kmeans.hpp
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  notebooks/VectorSearch_QuestionRetrieval.ipynb
  notebooks/ivf_flat_example.ipynb
  notebooks/tutorial_ivf_pq.ipynb
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

[FEA] support of prefiltered brute force (#146)
  cpp/include/cuvs/core/bitmap.hpp
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/brute_force_prefiltered.cu
  cpp/test/neighbors/knn_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners

chore: update Doxyfile (#162)
  cpp/doxygen/Doxyfile
Owners: @rapidsai/cuvs-cpp-codeowners

Select k instantiations (#159)
  cpp/CMakeLists.txt
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/selection/select_k.cuh
  cpp/src/selection/select_k_float_int64_t.cu
  cpp/src/selection/select_k_float_uint32_t.cu
  cpp/src/selection/select_k_half_uint32_t.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/selection.rst
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Expose serialization to the python / c-api
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

fix doctest
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
Owners: @rapidsai/cuvs-python-codeowners

update: replace to cuvs from RAFT in PULL_REQUEST_TEMPLATE (#92)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ops-codeowners

Update CAGRA API (NN descent build by default)
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/src/neighbors/nn_descent.cu
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Apply suggestions from code review
  cpp/include/cuvs/neighbors/nn_descent.hpp
  docs/source/cpp_api/neighbors_nn_descent.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Fix style
  cpp/src/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

remove cagra's build_host and build_device functions
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Review feedback
  .pre-commit-config.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

remove debug printouts
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

cuVS docs updates for release (#161)
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
  docs/source/cpp_api.rst
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/cluster_agglomerative.rst
  docs/source/cpp_api/cluster_kmeans.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_nn_descent.rst
  docs/source/python_api.rst
  docs/source/python_api/distance.rst
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  notebooks/VectorSearch_QuestionRetrieval.ipynb
  notebooks/ivf_flat_example.ipynb
  notebooks/tutorial_ivf_pq.ipynb
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Removing serialization from "working with ann indexes" docs
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
Owners: @rapidsai/cuvs-docs-codeowners

fix style
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/include/cuvs/neighbors/nn_descent.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Expose serialization to the python / c-api (#164)
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners

Fix CAGRA C API default algo params
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

CAGRA API update and allow async host refinement (#131)
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/src/neighbors/nn_descent.cu
  cpp/src/neighbors/refine/refine_host.hpp
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix OOM handling
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/nn_descent.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Fix CAGRA OOM handling (#167)
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/nn_descent.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Use rapids-build-backend (#145)
  .pre-commit-config.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/cuvs/_version.py
  python/cuvs/cuvs/test/test_version.py
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

Port new vector addition from RAFT PR
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Update docs for new vector addition
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Owners: @rapidsai/cuvs-cpp-codeowners
