Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Things should at least build now
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Fix rust api docs
  docs/source/api_docs.rst
  docs/source/rust_api/index.rst
Owners: @rapidsai/cuvs-docs-codeowners

More fixes
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/cluster/kmeans_find_k.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix rust api docs (#119)
  docs/source/api_docs.rst
  docs/source/rust_api/index.rst
Owners: @rapidsai/cuvs-docs-codeowners

Add description of Helper methods doc
  docs/source/cpp_api/neighbors_ivf_pq.rst
Owners: @rapidsai/cuvs-docs-codeowners

Reverting workflow filters
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Owners: @rapidsai/ops-codeowners

Update docs/source/cpp_api/neighbors_ivf_pq.rst
  docs/source/cpp_api/neighbors_ivf_pq.rst
Owners: @rapidsai/cuvs-docs-codeowners

codepacker inside helper namespace
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Enable random subsampling
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

replace pointer based internal interface of IVF_PQ with mdspan
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Update python API
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
Owners: @rapidsai/cuvs-python-codeowners

Got everything compiling. I hope the types are correct.
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/detail/agglomerative.cuh
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/cluster/kmeans_auto_find_k_float.cu
  cpp/src/cluster/kmeans_balanced_fit_float.cu
  cpp/src/cluster/kmeans_balanced_fit_int8.cu
  cpp/src/cluster/kmeans_balanced_fit_predict_float.cu
  cpp/src/cluster/kmeans_balanced_fit_predict_int8.cu
  cpp/src/cluster/kmeans_balanced_predict_float.cu
  cpp/src/cluster/kmeans_balanced_predict_int8.cu
  cpp/src/cluster/single_linkage.cuh
  cpp/src/cluster/single_linkage_float.cu
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/cluster/kmeans_find_k.cu
  cpp/test/cluster/linkage.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fixing clang-format snafu
  cpp/src/cluster/kmeans_balanced_fit_float.cu
  cpp/src/cluster/kmeans_balanced_fit_int8.cu
  cpp/src/cluster/kmeans_balanced_fit_predict_float.cu
  cpp/src/cluster/kmeans_balanced_fit_predict_int8.cu
  cpp/src/cluster/kmeans_balanced_predict_float.cu
  cpp/src/cluster/kmeans_balanced_predict_int8.cu
Owners: @rapidsai/cuvs-cpp-codeowners

remove default value from C interface
  cpp/include/cuvs/neighbors/ivf_pq.h
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/include/cuvs/neighbors/ivf_pq.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fixing docs
  cpp/include/cuvs/cluster/agglomerative.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

move update_dataset implementation to src directory
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
Owners: @rapidsai/cuvs-cpp-codeowners

move implementation to src/ directory
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Migrate IVF-Flat from RAFT (#94)
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/core/nvtx.hpp
  cpp/src/neighbors/detail/div_utils.cuh
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
  examples/cpp/CMakeLists.txt
  rapids_config.cmake
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Moving a couple more codepacker template functions out of source file
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Changing mesocluster warning to debug
  cpp/src/cluster/detail/kmeans_balanced.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Changing another mesocluster warning to debug
  cpp/src/cluster/detail/kmeans_balanced.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Review feedback
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/include/cuvs/distance/pairwise_distance.hpp
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/kmeans.cuh
  cpp/src/distance/distance-inl.cuh
  cpp/src/distance/fused_distance_nn-ext.cuh
  cpp/src/distance/fused_distance_nn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Migrate BFKNN from raft (#118)
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_index.cu
  cpp/src/neighbors/detail/faiss_distance_utils.h
  cpp/src/neighbors/detail/fused_l2_knn.cuh
  cpp/src/neighbors/detail/haversine_distance.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_merge_parts.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

ConfigureCUDA.cmake now sets CUVS_ prefixed variables (#66)
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

enable asynchronous host-refinement for cagra index build
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

GGNN/HNSW/FAISS_CPU are compiled
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix FAISS_GPU builds
  cpp/bench/ann/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

move alloc out of OMP region
  cpp/src/neighbors/detail/refine_host-inl.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Change codepacker API
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

added test for refinement -- disabled until detail::build API is exposed
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix IVF-PQ helper functions (#116)
  .gitignore
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/cpp_api/neighbors_ivf_pq.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Removing libraft.so from libcuvs and tests
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Fixing python
  cpp/include/cuvs/neighbors/common.hpp
  python/cuvs/cuvs/distance_type.pxd
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Fixing copyright
  cpp/include/cuvs/neighbors/common.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Adjusting copyright
  .pre-commit-config.yaml
Owners: none

Speed-up rust build
  rust/cuvs-sys/CMakeLists.txt
  rust/cuvs-sys/build.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-rust-codeowners

add dlpack
  rust/cuvs-sys/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Speed-up rust build (#138)
  rust/cuvs-sys/CMakeLists.txt
  rust/cuvs-sys/build.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-rust-codeowners
