Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#cmake code owners
CMakeLists.txt     @rapidsai/cuvs-cmake-codeowners
**/cmake/          @rapidsai/cuvs-cmake-codeowners
*.cmake            @rapidsai/cuvs-cmake-codeowners

#build code owners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners

update docstring
  docs/source/cuvs_bench/index.rst
  python/cuvs_bench/cuvs_bench/run/__main__.py
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners

Fix resource import so generate_groundtruth works (#774)
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
Owners: @rapidsai/cuvs-python-codeowners

Add missing CAGRA+HNSW half serialization
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/tests/neighbors/ann_ivf_flat.cuh
  cpp/tests/test_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Update docs
  cpp/include/cuvs/preprocessing/quantize/binary.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix dataset generation
  cpp/tests/preprocessing/binary_quantization.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Remove `fpi_mapper`
  cpp/tests/preprocessing/binary_quantization.cu
Owners: @rapidsai/cuvs-cpp-codeowners

fix readme
  examples/rust/README.md
Owners: @rapidsai/cuvs-rust-codeowners

add function to build specific gpu-arches [REVIEW] (#766)
  build.sh
  examples/build.sh
Owners: @rapidsai/packaging-codeowners, @rapidsai/cuvs-build-codeowners

test publishing
  .github/workflows/publish-rust.yaml
  rust/cuvs-sys/Cargo.toml
  rust/cuvs/Cargo.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/cuvs-rust-codeowners

remove cargo install step
  .github/workflows/publish-rust.yaml
Owners: @rapidsai/ci-codeowners

revert mods intended for testing
  .github/workflows/publish-rust.yaml
  rust/cuvs-sys/Cargo.toml
  rust/cuvs/Cargo.toml
Owners: @rapidsai/ci-codeowners, @rapidsai/cuvs-rust-codeowners

test publish-rust.yaml invocation
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

[CI] Enable Java test in CI workflow
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

postprocess sqrt
  cpp/src/neighbors/detail/nn_descent.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Revert "test publish-rust.yaml invocation"
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

add conda-java-tests as dependent
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Apply suggestions from code review
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

fix pointer access
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

adding doc for build api
  cpp/include/cuvs/neighbors/batch_ann.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

cleanup headers
  cpp/src/neighbors/batch_ann/batch_ann.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

use raft kvp
  cpp/src/neighbors/batch_ann/batch_ann_builder.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Point to Faiss install docs
  docs/source/integrations/faiss.rst
Owners: @rapidsai/cuvs-docs-codeowners

cleanup headers
  cpp/src/neighbors/batch_ann/batch_ann.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

style
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  python/cuvs_bench/cuvs_bench/config/datasets/datasets.yaml
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Use L4 instead of V100
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Fix half support of ivf flat
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/tests/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Answering review
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/mg/generate_mg.py
  cpp/src/neighbors/mg/mg_cagra_float_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_half_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_int8_t_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_uint8_t_uint32_t.cu
  cpp/src/neighbors/mg/mg_flat_float_int64_t.cu
  cpp/src/neighbors/mg/mg_flat_int8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_flat_uint8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_float_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_half_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_int8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_uint8_t_int64_t.cu
  cpp/src/neighbors/mg/omp_checks.cpp
  cpp/src/neighbors/mg/snmg.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/tests/test_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

change namespace and files to all_neighbors
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/all_neighbors.hpp
  cpp/src/neighbors/all_neighbors/all_neighbors.cu
  cpp/src/neighbors/all_neighbors/all_neighbors.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
  cpp/src/neighbors/batch_ann/batch_ann.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/all_neighbors.cuh
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix sync issue in iface
  cpp/src/neighbors/iface/iface.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

WIP generalizing all-neighbors
  cpp/src/neighbors/all_neighbors/all_neighbors.cu
  cpp/src/neighbors/all_neighbors/all_neighbors.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_batched.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_merge.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

`L2SqrtExpanded` metric support for NN Descent (#790)
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Expose IVF PQ params in CAGRA C API (#768)
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

add test_java define
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

fix cuvs-java dir
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

set java to be 22.0x
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Use L4 instead of V100 (#797)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

split single build and batch build
  cpp/src/neighbors/all_neighbors/all_neighbors.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_batched.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
  cpp/tests/neighbors/all_neighbors.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

gtest nccl clique issues
  cpp/tests/neighbors/all_neighbors.cuh
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

WIP test cleanup
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners
