Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

restructure examples
  build.sh
  examples/README.md
  examples/build.sh
  examples/c/CMakeLists.txt
  examples/c/src/cagra_c_example.c
  examples/cmake/thirdparty/fetch_rapids.cmake
  examples/cmake/thirdparty/get_cuvs.cmake
  examples/cpp/build.sh
Owners: @rapidsai/cuvs-build-codeowners

Update docs/source/interoperability.rst
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

MOre docs updates
  README.md
  docs/source/working_with_ann_indexes.rst
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
Owners: @rapidsai/cuvs-docs-codeowners

Adding attention to top
  README.md
Owners: none

Using noe
  README.md
Owners: none

More docs updates for 24.04 (#54)
  README.md
  docs/source/working_with_ann_indexes.rst
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
Owners: @rapidsai/cuvs-docs-codeowners

Update build.sh to build rust bindings (#53)
  README.md
  build.sh
  ci/build_rust.sh
  ci/release/update-version.sh
  docs/source/build.rst
  rust/Cargo.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-rust-codeowners

Fixing some typos
  docs/memory-footprint.md
Owners: @rapidsai/cuvs-docs-codeowners

add get_dlpack.cmake
  examples/c/CMakeLists.txt
  examples/cmake/thirdparty/get_dlpack.cmake
Owners: @rapidsai/cuvs-build-codeowners

dlpack headers include
  examples/c/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

DOC v24.06 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  VERSION
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  docs/source/developer_guide.md
  examples/cpp/cmake/thirdparty/fetch_rapids.cmake
  python/cuvs/pyproject.toml
  rust/Cargo.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

Solidify bruteforce index
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force-inl.hpp
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_index.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

IVF-FLAT compiled index
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/neighbors/brute_force_index.cu
  cpp/src/neighbors/ivf_flat_build_float.cpp
  cpp/src/neighbors/ivf_flat_build_int8.cpp
  cpp/src/neighbors/ivf_flat_build_uint8.cpp
  cpp/src/neighbors/ivf_flat_extend_float.cpp
  cpp/src/neighbors/ivf_flat_extend_int8.cpp
  cpp/src/neighbors/ivf_flat_extend_uint8.cpp
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_flat_search_float.cpp
  cpp/src/neighbors/ivf_flat_search_int8.cpp
  cpp/src/neighbors/ivf_flat_search_uint8.cpp
  cpp/src/neighbors/ivf_flat_serialize_float.cpp
  cpp/src/neighbors/ivf_flat_serialize_int8.cpp
  cpp/src/neighbors/ivf_flat_serialize_uint8.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Replace local copyright check with pre-commit-hooks verify-copyright (#48)
  .pre-commit-config.yaml
  ci/checks/copyright.py
Owners: @rapidsai/ops-codeowners

IVF-PQ compiled index
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq_build_float.cpp
  cpp/src/neighbors/ivf_pq_build_int8.cpp
  cpp/src/neighbors/ivf_pq_build_uint8.cpp
  cpp/src/neighbors/ivf_pq_extend_float.cpp
  cpp/src/neighbors/ivf_pq_extend_int8.cpp
  cpp/src/neighbors/ivf_pq_extend_uint8.cpp
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/src/neighbors/ivf_pq_search_float.cpp
  cpp/src/neighbors/ivf_pq_search_int8.cpp
  cpp/src/neighbors/ivf_pq_search_uint8.cpp
  cpp/src/neighbors/ivf_pq_serialize.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Removing macros from headers
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

IVF-Flat documentation
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.h
  docs/source/c_api/neighbors.rst
  docs/source/c_api/neighbors_ivf_flat_c.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_ivf_flat.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Add ability to allocate with RMM to the c-api and rust api
  ci/build_rust.sh
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  rust/cuvs-sys/build.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-rust-codeowners

Remove unused get*.cmake files.
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/cuvs-build-codeowners

IVF-PQ documentation
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/brute_force_index.cu
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq_index.cpp
  docs/source/c_api/neighbors.rst
  docs/source/c_api/neighbors_ivf_flat_c.rst
  docs/source/c_api/neighbors_ivf_pq_c.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_ivf_flat.rst
  docs/source/cpp_api/neighbors_ivf_pq.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Bruteforce documentation
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  docs/source/c_api/neighbors.rst
  docs/source/c_api/neighbors_bruteforce_c.rst
  docs/source/c_api/neighbors_ivf_flat_c.rst
  docs/source/c_api/neighbors_ivf_pq_c.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_bruteforce.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

C doc update
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
Owners: @rapidsai/cuvs-cpp-codeowners

C++ IVF-Flat doc examples
  cpp/include/cuvs/neighbors/ivf_flat.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

C++ IVF-Flat and IVF-PQ doc examples
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

C++ Bruteforce doc examples
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Add documentation for distance types
  docs/source/cpp_api.rst
  docs/source/cpp_api/distance.rst
Owners: @rapidsai/cuvs-docs-codeowners

Python code generators
  cpp/CMakeLists.txt
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_search_float_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_search_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_search_uint8_t_int64_t.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Remove unused get_*.cmake files. (#57)
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/cuvs-build-codeowners

Add ability to allocate with RMM to the c-api and rust api (#56)
  ci/build_rust.sh
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  rust/cuvs-sys/build.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-rust-codeowners

Restore CMakeLists.txt style
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

expose cuvsResources_t to python
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/common/c_api.pxd
  python/cuvs/cuvs/common/resources.pxd
  python/cuvs/cuvs/common/resources.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_doctests.py
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners

Remove unused get_*.cmake files. (#57)
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Owners: @rapidsai/cuvs-build-codeowners

Replace local copyright check with pre-commit-hooks verify-copyright (#48)
  .pre-commit-config.yaml
  ci/checks/copyright.py
Owners: @rapidsai/ops-codeowners

Add ability to allocate with RMM to the c-api and rust api (#56)
  ci/build_rust.sh
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  rust/cuvs-sys/build.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-rust-codeowners

use cuvsRMMAlloc/cuvsRMMFree
  examples/c/src/cagra_c_example.c
Owners: none

Add Brute Force KNN to Python and Rust API's
  cpp/include/cuvs/distance/distance_types.h
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/test/neighbors/run_brute_force_c.c
  python/cuvs/cuvs/distance_type.pxd
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/__init__.pxd
  python/cuvs/cuvs/neighbors/brute_force/__init__.py
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/brute_force.rs
  rust/cuvs/src/distance_type.rs
  rust/cuvs/src/dlpack.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-rust-codeowners

.
  rust/cuvs/src/brute_force.rs
Owners: @rapidsai/cuvs-rust-codeowners

Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Owners: none

Update pre-commit-hooks to v0.0.3 (#60)
  .pre-commit-config.yaml
Owners: none

Add CAGRA-Q compression
  cpp/include/cuvs/neighbors/cagra.hpp
Owners: @rapidsai/cuvs-cpp-codeowners
