Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-java-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#java code owners
java/              @rapidsai/cuvs-java-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#cmake code owners
CMakeLists.txt                  @rapidsai/cuvs-cmake-codeowners
**/cmake/                       @rapidsai/cuvs-cmake-codeowners
*.cmake                         @rapidsai/cuvs-cmake-codeowners
cpp/scripts/run-cmake-format.sh @rapidsai/cuvs-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.shellcheckrc           @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
python/setup.py          @rapidsai/packaging-codeowners
build.sh                 @rapidsai/packaging-codeowners
**/build.sh              @rapidsai/packaging-codeowners

remove unused
  cpp/tests/preprocessing/spectral_embedding.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Use a C++ style cast to satisfy the trait
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
Owners: @rapidsai/cuvs-cpp-codeowners

limit instantiations
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/distance.hpp
  cpp/src/distance/detail/distance_ops/bitwise_hamming.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance-inl.cuh
  cpp/src/distance/pairwise_distance.cu
  cpp/src/distance/pairwise_distance_c.cpp
  python/cuvs/cuvs/distance/distance.pyx
Owners: @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

Add graph/dataset accessor that don't copy data from the index
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/cuvs/common/cydlpack.pxd
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/tests/test_cagra.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners

remove debug stmt
  cpp/include/cuvs/core/detail/interop.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

add missing file
  python/cuvs/cuvs/common/device_tensor_view.py
Owners: @rapidsai/cuvs-python-codeowners

break into functions
  cpp/src/preprocessing/spectral/spectral_embedding.cu
Owners: @rapidsai/cuvs-cpp-codeowners

clean up
  cpp/src/preprocessing/spectral/spectral_embedding.cu
Owners: @rapidsai/cuvs-cpp-codeowners

clean up
  cpp/src/preprocessing/spectral/spectral_embedding.cu
Owners: @rapidsai/cuvs-cpp-codeowners

add new functions to hpp
  cpp/include/cuvs/preprocessing/spectral_embedding.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

remove unused
  cpp/src/preprocessing/spectral/spectral_embedding.cu
Owners: @rapidsai/cuvs-cpp-codeowners
