Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Add C API
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix the build function name
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Add missing argument to _build
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix a typo
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Fix a typo
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Remove class member initializers
  cpp/include/cuvs/neighbors/cagra.h
Owners: @rapidsai/cuvs-cpp-codeowners

Add python bfknn unittest
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/test/test_brute_force.py
Owners: @rapidsai/cuvs-python-codeowners

expose cuvsResources_t to python (#58)
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/common/c_api.pxd
  python/cuvs/cuvs/common/resources.pxd
  python/cuvs/cuvs/common/resources.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_doctests.py
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners

Change Index -> FlatIndex
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
Owners: @rapidsai/cuvs-python-codeowners

rename rust bf Index to FlatIndex
  rust/cuvs/src/brute_force.rs
Owners: @rapidsai/cuvs-rust-codeowners

fix
  python/cuvs/cuvs/neighbors/brute_force/__init__.py
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
Owners: @rapidsai/cuvs-python-codeowners

FlatIndex -> Index
  python/cuvs/cuvs/neighbors/brute_force/__init__.py
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  rust/cuvs/src/brute_force.rs
Owners: @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

C API: move the compression params into the index params
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Add tests
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Avoid designator initialization
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Use `conda env create --yes` instead of `--force`.
  ci/build_docs.sh
  ci/build_rust.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

Enable all arm tests
  ci/test_wheel_cuvs.sh
Owners: @rapidsai/ops-codeowners

[fix] link anchor of "Installing cuVS"
  README.md
Owners: none

When using CUDA 12.4+ use zstd compression
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Use proper project variables for C++/CUDA flags
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Update copyright year
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Use `conda env create --yes` instead of `--force` (#62)
  ci/build_docs.sh
  ci/build_rust.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Owners: @rapidsai/ops-codeowners

[fix] link anchor of "Installing cuVS" (#64)
  README.md
Owners: none

Add CAGRA-Q compression (#61)
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Apply suggestions from code review
  examples/README.md
Owners: none

cuvs docs
  docs/source/interoperability.rst
Owners: @rapidsai/cuvs-docs-codeowners

address review
  examples/build.sh
  examples/cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

CAGRA C example and DlPack docs (#51)
  build.sh
  docs/source/interoperability.rst
  examples/README.md
  examples/build.sh
  examples/c/CMakeLists.txt
  examples/c/src/cagra_c_example.c
  examples/cmake/thirdparty/fetch_rapids.cmake
  examples/cmake/thirdparty/get_cuvs.cmake
  examples/cmake/thirdparty/get_dlpack.cmake
  examples/cpp/build.sh
  examples/cpp/src/common.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-cpp-codeowners

Add Brute Force KNN to Python and Rust API's (#59)
  cpp/include/cuvs/distance/distance_types.h
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/test/neighbors/run_brute_force_c.c
  python/cuvs/cuvs/distance_type.pxd
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/__init__.pxd
  python/cuvs/cuvs/neighbors/brute_force/__init__.py
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/test/test_brute_force.py
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/brute_force.rs
  rust/cuvs/src/distance_type.rs
  rust/cuvs/src/dlpack.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-rust-codeowners

Delete ci/wheel_smoke_test_cuvs.py
  ci/wheel_smoke_test_cuvs.py
Owners: @rapidsai/ops-codeowners

Add Cagra-Q compression to the python api
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Owners: @rapidsai/cuvs-python-codeowners

Add Rust bindings for CAGRA-Q
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
Owners: @rapidsai/cuvs-rust-codeowners

Enable forward-merger ops-bot plugin
  .github/ops-bot.yaml
Owners: @rapidsai/ops-codeowners

set devcontainer to cuda12.2
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Revert "set devcontainer to cuda12.2"
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Update devcontainers to use cuda12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Owners: @rapidsai/ops-codeowners

Adding lucene-cuvs connector to integrations docs
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-docs-codeowners

link c-api to cython modules
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

fix
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

fix update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners
