Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

Remove gtest from dependencies.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
Owners: @rapidsai/ops-codeowners

Update pip devcontainers to UCX v1.15.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

Adding mdspan-based public API for pairwise distances
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/one_nn.hpp
  cpp/src/distance/fused_nn-ext.cuh
  cpp/src/distance/fused_nn-inl.cuh
  cpp/src/distance/fused_nn.cu
  cpp/src/distance/fused_nn.cuh
  cpp/src/distance/fused_nn_helpers.cuh
  cpp/src/distance/pairwise_distance.cu
  cpp/src/neighbors/cagra_build_float.cpp
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Update pip devcontainers to UCX v1.15.0 (#88)
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

Add python and rust bindings for Ivf-Pq
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/test/neighbors/run_ivf_pq_c.c
  python/cuvs/cuvs/neighbors/ivf_pq/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.py
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/ivf_pq/index.rs
  rust/cuvs/src/ivf_pq/index_params.rs
  rust/cuvs/src/ivf_pq/mod.rs
  rust/cuvs/src/ivf_pq/search_params.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

update update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

update: fix RAFT URL in README
  README.md
Owners: none

update: PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @rapidsai/ops-codeowners

Adding pairwise distance tests
  cpp/test/CMakeLists.txt
  cpp/test/distance/dist_canberra.cu
  cpp/test/distance/dist_correlation.cu
  cpp/test/distance/dist_cos.cu
  cpp/test/distance/dist_hamming.cu
  cpp/test/distance/dist_hellinger.cu
  cpp/test/distance/dist_inner_product.cu
  cpp/test/distance/dist_jensen_shannon.cu
  cpp/test/distance/dist_kl_divergence.cu
  cpp/test/distance/dist_l1.cu
  cpp/test/distance/dist_l2_exp.cu
  cpp/test/distance/dist_l2_sqrt_exp.cu
  cpp/test/distance/dist_l2_unexp.cu
  cpp/test/distance/dist_l_inf.cu
  cpp/test/distance/dist_lp_unexp.cu
  cpp/test/distance/dist_russell_rao.cu
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Removing files that don't need to be moved over yet.
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/one_nn.hpp
  cpp/src/distance/fused_nn-ext.cuh
  cpp/src/distance/fused_nn-inl.cuh
  cpp/src/distance/fused_nn.cu
  cpp/src/distance/fused_nn.cuh
  cpp/src/distance/fused_nn_helpers.cuh
  cpp/src/distance/kernels.cuh
  cpp/src/distance/masked_nn.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Adding docs for pairwise_distance
  cpp/include/cuvs/distance/pairwise_distance.hpp
  cpp/test/distance/distance_base.cuh
  docs/source/cpp_api/distance.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Updating APIs to account for const types
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance-inl.cuh
  cpp/src/distance/distance.cu
  cpp/src/distance/pairwise_distance.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Removing duplication from the distance types
  cpp/include/cuvs/distance/distance_types.h
  cpp/include/cuvs/distance/distance_types.hpp
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/brute_force_c.cpp
  cpp/test/neighbors/ann_ivf_flat_c.cu
  cpp/test/neighbors/ann_ivf_pq_c.cu
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/brute_force_c.cu
  cpp/test/neighbors/run_brute_force_c.c
  cpp/test/neighbors/run_ivf_flat_c.c
  cpp/test/neighbors/run_ivf_pq_c.c
Owners: @rapidsai/cuvs-cpp-codeowners

Updating the indexing type to match other APIs
  cpp/include/cuvs/distance/pairwise_distance.hpp
  cpp/src/distance/distance_types.hpp
  cpp/src/distance/pairwise_distance.cu
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

update: fix RAFT URL in README (#91)
  README.md
Owners: none

prepend devcontainer name with the username
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

Remove `uint32_t` ivfpq compute_similarity instantiation
  cpp/CMakeLists.txt
  cpp/src/neighbors/ivf_pq/generate_ivf_pq_compute_similarity.py
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_float_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_false_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_fp8_true_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_float_half_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_false_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_fp8_true_filt32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half_bitset32.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_half_half_filt32.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Add bitset to compute similarity instantiation
  cpp/CMakeLists.txt
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Remove gtest from dependencies.yaml (#87)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Add NVTX cuvs domain
  cpp/include/cuvs/core/nvtx.hpp
  cpp/include/cuvs/neighbors/detail/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Migrate to `{{ stdlib("c") }}`
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
Owners: @rapidsai/ops-codeowners

migration
  cpp/include/cuvs/core/nvtx.hpp
  cpp/include/cuvs/neighbors/detail/ivf_flat_build.cuh
  cpp/include/cuvs/neighbors/detail/ivf_flat_interleaved_scan.cuh
  cpp/include/cuvs/neighbors/detail/ivf_flat_search.cuh
  cpp/include/cuvs/neighbors/detail/ivf_flat_serialize.cuh
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_flat_codepacker.cuh
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

format
  cpp/include/cuvs/core/nvtx.hpp
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

more formatting
  cpp/include/cuvs/neighbors/detail/ivf_flat_interleaved_scan.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Specify c_stdlib
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
Owners: @rapidsai/ops-codeowners

Using cuvsDistanceType
  python/cuvs/cuvs/distance_type.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
Owners: @rapidsai/cuvs-python-codeowners

Distance type
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
Owners: @rapidsai/cuvs-python-codeowners

Changing rust to expose proper cuvs distance type
  rust/cuvs/src/distance_type.rs
Owners: @rapidsai/cuvs-rust-codeowners

Adding nvjitlink to dependencies (not sure why this is needed)
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Find libnvjitlink
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add --rm and --name to devcontainer run args (#89)
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Remove libnvjitlink dependency.
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Remove libnvjitlink dependency. (#97)
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

add missing unittest
  python/cuvs/cuvs/test/test_ivf_pq.py
Owners: @rapidsai/cuvs-python-codeowners

doc updates for ivf-pq
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_brute_force.rst
  docs/source/python_api/neighbors_ivf_pq.rst
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  rust/cuvs/src/brute_force.rs
  rust/cuvs/src/ivf_pq/mod.rs
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

use correct file path
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

Expose only public API on includes
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/nvtx.hpp
  cpp/include/cuvs/neighbors/detail/ivf_pq_helpers.hpp
  cpp/include/cuvs/neighbors/ivf_list.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.cuh
  cpp/src/neighbors/ivf_common.cuh
  cpp/src/neighbors/ivf_list.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_codepacking.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_list.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/ivf_pq_helpers.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

update docstring
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
Owners: @rapidsai/cuvs-python-codeowners

build fix
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
Owners: @rapidsai/cuvs-python-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
