Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

Adds missing files to `update-version.sh` (#69)
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

DOC v24.08 Updates [skip ci]
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  VERSION
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  docs/source/developer_guide.md
  examples/cmake/thirdparty/fetch_rapids.cmake
  python/cuvs/pyproject.toml
  rust/Cargo.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

Explicitly adding CTK_MATH_LIBS dependencies (this needs to be changed in RAFT soon)
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

FOr now, changing RAFT_EXPLICIT_INSTANTIATE_ONLY to CUVS_EXPLICIT_INSTANTIATE_ONLY. Eventually we'll just remove this altogether.
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine.cuh
  cpp/test/cluster/linkage.cu
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Keeping RAFT_EXPLICIT;
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/refine-ext.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Another fix
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/refine-ext.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

cuvs_ivf_flat bench compiles
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.cpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_float.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_int8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_uint8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Add pairwise_distance api's for C, Python and Rust
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/distance.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/distance/pairwise_distance_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/distance/pairwise_distance_c.cu
  cpp/test/distance/run_pairwise_distance_c.c
  docs/source/cpp_api/distance.rst
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/distance/CMakeLists.txt
  python/cuvs/cuvs/distance/__init__.pxd
  python/cuvs/cuvs/distance/__init__.py
  python/cuvs/cuvs/distance/distance.pxd
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_distance.py
  python/cuvs/cuvs/test/test_doctests.py
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/distance/mod.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

remove comment
  python/cuvs/cuvs/distance/__init__.py
Owners: @rapidsai/cuvs-python-codeowners

move pairwise_distance c-api to its own file
  cpp/include/cuvs/distance/distance.h
  cpp/include/cuvs/distance/pairwise_distance.h
  python/cuvs/cuvs/distance/distance.pxd
  rust/cuvs-sys/cuvs_c_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

fix
  cpp/test/distance/run_pairwise_distance_c.c
Owners: @rapidsai/cuvs-cpp-codeowners

fix docs
  cpp/include/cuvs/distance/pairwise_distance.h
Owners: @rapidsai/cuvs-cpp-codeowners

Use rapids-build-backend
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/cuvs/_version.py
  python/cuvs/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

build-backedn
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-python-codeowners

dependencies-file
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-python-codeowners

IVF compiles, linker error
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_float.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_int8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_uint8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  docs/source/cpp_api/distance.rst
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Fix dependencies for rust and docs
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Disabled ivf_pq refinement, as a workaround for linking error
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

disable-cuda
  build.sh
Owners: @rapidsai/cuvs-build-codeowners

config-setting
  build.sh
Owners: @rapidsai/cuvs-build-codeowners

[FEA] support of prefiltered brute force
  cpp/include/cuvs/core/bitmap.hpp
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/brute_force_prefiltered.cu
  cpp/test/neighbors/knn_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners

expose more cagra build parameters
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

better validation of input tensors
  cpp/src/distance/pairwise_distance_c.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

clarify code
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

TBR
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Revert "TBR"
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Optimized by the review comments
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force_prefiltered.cu
Owners: @rapidsai/cuvs-cpp-codeowners

hide RAFT #pragma deprecation warnings (#114)
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Accept host_mdspan for IVF-PQ build and extend
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_inst.cuh
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Update RBB to version 0.3.0
  build.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

Fixing issues
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/distance/detail/compress_to_bits.cuh
  cpp/src/distance/detail/masked_distance_base.cuh
  cpp/src/distance/detail/masked_nn.cuh
  cpp/src/distance/masked_nn.cuh
  cpp/src/sparse/neighbors/cross_component_nn.cuh
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/masked_nn.cu
  cpp/test/sparse/neighbors/cross_component_nn.cu
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners

Fixing cublas build issue
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Adding ctk math deps
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Fixing typo
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Pipe rapids-generate-version directly to VERSION
  ci/build_wheel.sh
Owners: @rapidsai/ops-codeowners

Changing RAFT_EXPLICT_* to CUVS_EXPLITI_* (#141)
  cpp/CMakeLists.txt
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/distance/detail/compress_to_bits.cuh
  cpp/src/distance/detail/masked_distance_base.cuh
  cpp/src/distance/detail/masked_nn.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance.cuh
  cpp/src/distance/masked_nn.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine.cuh
  cpp/src/sparse/neighbors/cross_component_nn.cuh
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/linkage.cu
  cpp/test/distance/masked_nn.cu
  cpp/test/sparse/neighbors/cross_component_nn.cu
  docs/source/integrations.rst
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Remove sed from build_python.sh
  ci/build_python.sh
Owners: @rapidsai/ops-codeowners

Add pairwise_distance api's for C, Python and Rust (#142)
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/pairwise_distance.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/distance/pairwise_distance_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/distance/pairwise_distance_c.cu
  cpp/test/distance/run_pairwise_distance_c.c
  docs/source/cpp_api/distance.rst
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/distance/CMakeLists.txt
  python/cuvs/cuvs/distance/__init__.pxd
  python/cuvs/cuvs/distance/__init__.py
  python/cuvs/cuvs/distance/distance.pxd
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_distance.py
  python/cuvs/cuvs/test/test_doctests.py
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/distance/mod.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

TBR
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

trigger CI re-run
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
