Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

update to latest 24.04 cagra api
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs-sys/src/lib.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/search_params.rs
Owners: @rapidsai/cuvs-rust-codeowners

add example to README
  README.md
Owners: none

.
  .github/workflows/build.yaml
Owners: @rapidsai/ops-codeowners

update dependencies.yaml
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Add Rust bindings for CAGRA (#34)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  README.md
  ci/build_rust.sh
  dependencies.yaml
  rust/Cargo.toml
  rust/cuvs-sys/Cargo.toml
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs-sys/src/lib.rs
  rust/cuvs/Cargo.toml
  rust/cuvs/build.rs
  rust/cuvs/examples/cagra.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/error.rs
  rust/cuvs/src/lib.rs
  rust/cuvs/src/resources.rs
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-rust-codeowners

Expose exception text to C and Rust API's
  cpp/include/cuvs/core/c_api.h
  cpp/include/cuvs/core/exceptions.hpp
  cpp/src/core/c_api.cpp
  cpp/src/neighbors/cagra_c.cpp
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/error.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-rust-codeowners

BRUTEFORCE C API
  .gitignore
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/distance_types.h
  cpp/include/cuvs/neighbors/brute_force-inl.hpp
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_ivf_flat_c.cu
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/brute_force_c.cu
  cpp/test/neighbors/run_brute_force_c.c
  cpp/test/neighbors/run_ivf_pq_c.c
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

REVERT cmake-format changes
  cpp/CMakeLists.txt
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

add errror text to python exceptions
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/common/exceptions.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  rust/cuvs/src/cagra/index_params.rs
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

Expose exception text to C, Python and Rust API's (#39)
  cpp/include/cuvs/core/c_api.h
  cpp/include/cuvs/core/exceptions.hpp
  cpp/src/core/c_api.cpp
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/common/exceptions.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/error.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

FIX Small python cmake find fix
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

FIX Multiple cleanups and fixes
  build.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

FIX Remove dlpack from pip packages
  dependencies.yaml
  python/cuvs/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

FIX wheel cmake fix
  ci/build_wheel_cuvs.sh
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners

Update conda packaging for CUDA 12.x.
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/meta.yaml
Owners: @rapidsai/ops-codeowners

Small packaging fixes.
  conda/recipes/libcuvs/meta.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

Attempt to fix broken rust CI
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Attempt to fix broken rust CI
  dependencies.yaml
Owners: @rapidsai/ops-codeowners

Getting a start on the docs
  cpp/doxygen/Doxyfile
  cpp/include/cuvs/core/c_api.h
  cpp/include/cuvs/neighbors/cagra.h
  docs/source/api_docs.rst
  docs/source/c_api.rst
  docs/source/c_api/core_c_api.rst
  docs/source/c_api/neighbors_cagra_c.rst
  docs/source/cpp_api.rst
  docs/source/cpp_api/core_interop.rst
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/index.rst
  docs/source/python_api.rst
  docs/source/rust_api.rst
  docs/source/sphinxext/github_link.py
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Progress
  docs/source/c_api.rst
  docs/source/c_api/neighbors.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/python_api.rst
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_cagra.rst
Owners: @rapidsai/cuvs-docs-codeowners

Getting CAGRA C++ docs to build
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  docs/source/c_api/neighbors.rst
  docs/source/c_api/neighbors_cagra_c.rst
  docs/source/cpp_api/neighbors_cagra.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Fixing style/doc/comments issues
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/ivf_flat_build_float.cpp
  cpp/src/neighbors/ivf_flat_build_int8.cpp
  cpp/src/neighbors/ivf_flat_build_uint8.cpp
  cpp/src/neighbors/ivf_flat_extend_float.cpp
  cpp/src/neighbors/ivf_flat_extend_int8.cpp
  cpp/src/neighbors/ivf_flat_extend_uint8.cpp
  cpp/src/neighbors/ivf_flat_search_float.cpp
  cpp/src/neighbors/ivf_flat_search_int8.cpp
  cpp/src/neighbors/ivf_flat_search_uint8.cpp
  cpp/src/neighbors/ivf_flat_serialize_float.cpp
  cpp/src/neighbors/ivf_flat_serialize_int8.cpp
  cpp/src/neighbors/ivf_flat_serialize_uint8.cpp
  cpp/src/neighbors/ivf_pq_build_float.cpp
  cpp/src/neighbors/ivf_pq_build_int8.cpp
  cpp/src/neighbors/ivf_pq_build_uint8.cpp
  cpp/src/neighbors/ivf_pq_extend_float.cpp
  cpp/src/neighbors/ivf_pq_extend_int8.cpp
  cpp/src/neighbors/ivf_pq_extend_uint8.cpp
  cpp/src/neighbors/ivf_pq_search_float.cpp
  cpp/src/neighbors/ivf_pq_search_int8.cpp
  cpp/src/neighbors/ivf_pq_search_uint8.cpp
  cpp/src/neighbors/ivf_pq_serialize.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Remove hard-coding of RAPIDS version where possible
  build.sh
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  fetch_rapids.cmake
  python/cuvs/CMakeLists.txt
  rapids_config.cmake
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Remove usage of fetch_rapids.cmake
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Fix 'cuvs' conda package to only include Python artifacts and clean build.sh (#40)
  build.sh
  ci/build_wheel_cuvs.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/meta.yaml
  dependencies.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners, @rapidsai/cuvs-python-codeowners

Updating
  cpp/include/cuvs/core/c_api.h
  docs/source/c_api/core_c_api.rst
  docs/source/python_api/neighbors_cagra.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Checking in
  docs/source/conf.py
  docs/source/python_api/neighbors_cagra.rst
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners

Install Python package during docs build
  ci/build_docs.sh
Owners: @rapidsai/ops-codeowners

New docs
  docs/source/build.md
  examples/cpp/CMakeLists.txt
  examples/cpp/README.md
  examples/cpp/build.sh
  examples/cpp/cmake/thirdparty/fetch_rapids.cmake
  examples/cpp/cmake/thirdparty/get_cuvs.cmake
  examples/cpp/src/cagra_example.cu
  examples/cpp/src/common.cuh
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Updating build.sh to build the examples
  build.sh
Owners: @rapidsai/cuvs-build-codeowners

Fixing docs per review
  docs/source/build.md
Owners: @rapidsai/cuvs-docs-codeowners

API Documentation (#44)
  build.sh
  cpp/doxygen/Doxyfile
  cpp/include/cuvs/core/c_api.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  docs/source/api_docs.rst
  docs/source/build.md
  docs/source/c_api.rst
  docs/source/c_api/core_c_api.rst
  docs/source/c_api/neighbors.rst
  docs/source/c_api/neighbors_cagra_c.rst
  docs/source/conf.py
  docs/source/cpp_api.rst
  docs/source/cpp_api/core_interop.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/index.rst
  docs/source/python_api.rst
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_cagra.rst
  docs/source/rust_api.rst
  docs/source/sphinxext/github_link.py
  examples/cpp/CMakeLists.txt
  examples/cpp/README.md
  examples/cpp/build.sh
  examples/cpp/cmake/thirdparty/fetch_rapids.cmake
  examples/cpp/cmake/thirdparty/get_cuvs.cmake
  examples/cpp/src/cagra_example.cu
  examples/cpp/src/common.cuh
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners

Removing developer guide. That's unneeded int the docs
  docs/source/index.rst
Owners: @rapidsai/cuvs-docs-codeowners

Docs 2404 api docs (#46)
  docs/source/build.md
  docs/source/index.rst
Owners: @rapidsai/cuvs-docs-codeowners

Stubbing out quick start guide
  docs/source/conf.py
  docs/source/quick_start.md
Owners: @rapidsai/cuvs-docs-codeowners

Adding quick start
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  docs/source/api_docs.rst
  docs/source/build.md
  docs/source/index.rst
  docs/source/integrations.md
  docs/source/quick_start.md
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-docs-codeowners

Replace local copyright check with pre-commit-hooks verify-copyright
  .pre-commit-config.yaml
  ci/checks/copyright.py
Owners: @rapidsai/ops-codeowners

Checking in
  docs/source/quick_start.md
Owners: @rapidsai/cuvs-docs-codeowners

Renaming quick_start to getting started
  docs/source/getting_started.md
  docs/source/index.rst
Owners: @rapidsai/cuvs-docs-codeowners

Removing osexamples
  docs/source/conf.py
Owners: @rapidsai/cuvs-docs-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
