Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

TBR+
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Revert customized raft dep
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

slightly reduce expected recall to catch refinement 1 results on all archs
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix extend API
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_inst.cuh
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

init
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/refine.hpp
  cpp/src/neighbors/refine-ext.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

CAGRA bench compiles
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_float.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_int8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_uint8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_serialize_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

fix devcontainer name for codespaces
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

trigger CI re-run
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Fix refine_host duplication, add test
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/refine.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/refine.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/detail/refine_host.hpp
  cpp/src/neighbors/detail/refine_host_float_float.cpp
  cpp/src/neighbors/detail/refine_host_half_float.cpp
  cpp/src/neighbors/detail/refine_host_int8_t_float.cpp
  cpp/src/neighbors/detail/refine_host_uint8_t_float.cpp
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine-inl.cuh
  cpp/src/neighbors/refine.cuh
  cpp/src/neighbors/refine/detail/refine_device_float_float.cu
  cpp/src/neighbors/refine/detail/refine_device_int8_t_float.cu
  cpp/src/neighbors/refine/detail/refine_device_uint8_t_float.cu
  cpp/src/neighbors/refine/detail/refine_host_float_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_half_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_int8_t_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_uint8_t_float.cpp
  cpp/src/neighbors/refine/refine_common.hpp
  cpp/src/neighbors/refine/refine_device.cuh
  cpp/src/neighbors/refine/refine_host.hpp
  cpp/src/neighbors/refine_uint8_t_float.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/refine.cu
  cpp/test/neighbors/refine_helper.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Revert "trigger CI re-run"
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

fix style
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_inst.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Update cpp/include/cuvs/neighbors/refine.hpp
  cpp/include/cuvs/neighbors/refine.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Add half, update doc
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/refine.hpp
  cpp/src/neighbors/refine/detail/refine_device_half_float.cu
  cpp/src/neighbors/refine/detail/refine_host_half_float.cpp
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_refine.rst
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

fix devcontainer name for codespaces (#153)
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Owners: none

s/--config-setting/--config-settings/
  build.sh
Owners: @rapidsai/cuvs-build-codeowners

init
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/neighbors/ivf_common.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

add full doc
  cpp/include/cuvs/neighbors/refine.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Optimize by review comments
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_utils.cuh
  cpp/test/neighbors/brute_force_prefiltered.cu
  cpp/test/neighbors/knn_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix test compilation issue
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Revert math dependencies to PRIVATE
  cpp/CMakeLists.txt
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Add ivf_flat<half>
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/refine/refine_device.cuh
  cpp/src/neighbors/refine/refine_host.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

enable cuvs_ prefix for algos, disable half
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Add instantiations for select_k
  cpp/CMakeLists.txt
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/selection/select_k.cuh
  cpp/src/selection/select_k_float_int64_t.cu
  cpp/src/selection/select_k_float_uint32_t.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix deserialization of IVF methods
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

re-enable refinement
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

add ivf-pq / ivf-flat
  cpp/CMakeLists.txt
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/selection/select_k.cuh
  cpp/src/selection/select_k_float_int64_t.cu
  cpp/src/selection/select_k_half_uint32_t.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Fix refinment data type
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
Owners: @rapidsai/cuvs-cpp-codeowners

enable brute force benchmark
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

cuvs brute needs dataset for search
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

Fix set_search_param
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
Owners: @rapidsai/cuvs-cpp-codeowners

Add `refine` to public API (#154)
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/refine.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/refine.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/detail/refine_host.hpp
  cpp/src/neighbors/detail/refine_host_float_float.cpp
  cpp/src/neighbors/detail/refine_host_half_float.cpp
  cpp/src/neighbors/detail/refine_host_int8_t_float.cpp
  cpp/src/neighbors/detail/refine_host_uint8_t_float.cpp
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine-inl.cuh
  cpp/src/neighbors/refine.cuh
  cpp/src/neighbors/refine/detail/refine_device_float_float.cu
  cpp/src/neighbors/refine/detail/refine_device_half_float.cu
  cpp/src/neighbors/refine/detail/refine_device_int8_t_float.cu
  cpp/src/neighbors/refine/detail/refine_device_uint8_t_float.cu
  cpp/src/neighbors/refine/detail/refine_host_float_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_half_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_int8_t_float.cpp
  cpp/src/neighbors/refine/detail/refine_host_uint8_t_float.cpp
  cpp/src/neighbors/refine/refine_common.hpp
  cpp/src/neighbors/refine/refine_device.cuh
  cpp/src/neighbors/refine/refine_host.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/refine.cu
  cpp/test/neighbors/refine_helper.cuh
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_refine.rst
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Accept host_mdspan for IVF-PQ build and extend (#148)
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_inst.cuh
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

add select-k to c++ api docs
  docs/source/cpp_api.rst
  docs/source/cpp_api/selection.rst
Owners: @rapidsai/cuvs-docs-codeowners

.
  docs/source/cpp_api/selection.rst
Owners: @rapidsai/cuvs-docs-codeowners

Adding docs for distance and cluster
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  docs/source/cpp_api.rst
  docs/source/cpp_api/cluster.rst
  docs/source/cpp_api/cluster_agglomerative.rst
  docs/source/cpp_api/cluster_kmeans.rst
  docs/source/python_api.rst
  docs/source/python_api/distance.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Adding more docs for kmeans
  cpp/include/cuvs/cluster/kmeans.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Update notebooks
  notebooks/VectorSearch_QuestionRetrieval.ipynb
  notebooks/ivf_flat_example.ipynb
  notebooks/tutorial_ivf_pq.ipynb
Owners: none

Fix index arg for cagra::serialize_to_hnswlib
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_serialize_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Adding nn-descent
  cpp/include/cuvs/neighbors/nn_descent.hpp
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_nn_descent.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

chore: update Doxyfile
  cpp/doxygen/Doxyfile
Owners: @rapidsai/cuvs-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
