Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

Add python and rust bindings for Ivf-Pq (#90)
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/test/neighbors/run_ivf_pq_c.c
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_brute_force.rst
  docs/source/python_api/neighbors_ivf_pq.rst
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.py
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_ivf_pq.py
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/ivf_pq/index.rs
  rust/cuvs/src/ivf_pq/index_params.rs
  rust/cuvs/src/ivf_pq/mod.rs
  rust/cuvs/src/ivf_pq/search_params.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-rust-codeowners

build fix
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
Owners: @rapidsai/cuvs-python-codeowners

update docs
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_ivf_flat.rst
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
Owners: @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-python-codeowners

Add python and rust bindings for Ivf-Flat (#82)
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/test/neighbors/run_ivf_flat_c.c
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_ivf_flat.rst
  examples/cpp/src/cagra_example.cu
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.py
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/test/test_doctests.py
  python/cuvs/cuvs/test/test_ivf_flat.py
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/ivf_flat/index.rs
  rust/cuvs/src/ivf_flat/index_params.rs
  rust/cuvs/src/ivf_flat/mod.rs
  rust/cuvs/src/ivf_flat/search_params.rs
  rust/cuvs/src/lib.rs
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners

Making progress
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cpp
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cpp
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cpp
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/cagra_optimize.cu
  cpp/src/neighbors/cagra_search_float.cu
  cpp/src/neighbors/cagra_search_int8.cu
  cpp/src/neighbors/cagra_search_uint8.cu
  cpp/src/neighbors/cagra_serialize_float.cpp
  cpp/src/neighbors/cagra_serialize_float.cu
  cpp/src/neighbors/cagra_serialize_int8.cpp
  cpp/src/neighbors/cagra_serialize_int8.cu
  cpp/src/neighbors/cagra_serialize_uint8.cpp
  cpp/src/neighbors/cagra_serialize_uint8.cu
  cpp/src/neighbors/dataset.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
  cpp/src/neighbors/detail/dataset_serialize.hpp
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/vpq_dataset.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

.cu instead of .cpp
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cpp
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
Owners: @rapidsai/cuvs-cpp-codeowners

cmake changes
  cpp/CMakeLists.txt
  cpp/test/CMakeLists.txt
  examples/cpp/CMakeLists.txt
  rapids_config.cmake
Owners: @rapidsai/cuvs-build-codeowners

Enable Warnings as errors in Python tests
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-python-codeowners

Enable Warnings as errors in Python tests (#102)
  python/cuvs/pyproject.toml
Owners: @rapidsai/cuvs-python-codeowners

Move headers
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/core/nvtx.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Making progress
  cpp/include/cuvs/neighbors/ann_types.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/compute_distance_vpq.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
  cpp/src/neighbors/detail/dataset_serialize.hpp
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/detail/refine_host-inl.hpp
  cpp/src/neighbors/detail/refine_host.hpp
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine-inl.cuh
  cpp/src/neighbors/sample_filter_types.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Checking in.
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/nn_descent.cuh
  cpp/src/neighbors/nn_descent_types.hpp
  cpp/src/neighbors/refine-inl.cuh
  cpp/src/neighbors/vpq_dataset.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

COuple minor fixes to ann_utils
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/compute_distance_vpq.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

More fixes to ann_utils
  cpp/src/neighbors/detail/ann_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

MOre updates
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_search_float.cu
  cpp/src/neighbors/cagra_search_int8.cu
  cpp/src/neighbors/cagra_search_uint8.cu
  cpp/src/neighbors/cagra_serialize_float.cu
  cpp/src/neighbors/cagra_serialize_int8.cu
  cpp/src/neighbors/cagra_serialize_uint8.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Separate header and impl for filters
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/bitset.hpp
  cpp/include/cuvs/neighbors/sample_filter.hpp
  cpp/src/core/bitset.cuh
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq_compute_similarity.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_float.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_float_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_fp8_false.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_fp8_false_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_fp8_true.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_fp8_true_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_half.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_float_half_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_fp8_false.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_fp8_false_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_fp8_true.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_fp8_true_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_half.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_compute_similarity_half_half_bitset64.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_with_filter_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_with_filter_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_with_filter_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/sample_filter.cu
  cpp/src/neighbors/sample_filter.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Compiles!
  cpp/include/cuvs/neighbors/ann_types.hpp
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/dataset.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/dataset_serialize.hpp
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/vpq_dataset.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Migrate to `{{ stdlib("c") }}` (#93)
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
Owners: @rapidsai/ops-codeowners

Making sure tests are using runtime APIs
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Removing debugging prints
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/test/neighbors/ann_cagra.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Checking in
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Adding nn-descent public API and tests
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/nn_descent.cuh
  cpp/src/neighbors/nn_descent_float.cu
  cpp/src/neighbors/nn_descent_int8.cu
  cpp/src/neighbors/nn_descent_types.hpp
  cpp/src/neighbors/nn_descent_uint8.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  cpp/test/neighbors/ann_nn_descent/test_float_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_nn_descent/test_uint8_t_uint32_t.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

fix version match in ci/release/update-versions.sh
  ci/release/update-version.sh
Owners: @rapidsai/ops-codeowners

fix lint and add devcontainer build dir to default paths in run-cmake-format.sh
  cpp/CMakeLists.txt
  cpp/scripts/run-cmake-format.sh
  cpp/test/CMakeLists.txt
  examples/cpp/CMakeLists.txt
  rapids_config.cmake
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

intermediate stage
  cpp/src/neighbors/ivf_list.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix style
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Rename name tests to see if lookup logic is at fault
  build.sh
  cpp/test/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

See if the issue is lazy install messages
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Remove CMAKE_INSTALL_MESSAGE = LAZY
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

passing tests
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/core/nvtx.hpp
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/src/neighbors/ivf_list.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

search with filter, more serialization
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

pre-commit
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

style check
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Fixing docs
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

Using CUVS_USE_RAFT_STATIC
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Trying again
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Trying again...y
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Specify to use raft static
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Actually accept the argument
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

Try dynamically linking a locally built raft
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners
