Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-cmake-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

splitting tests
  cpp/tests/neighbors/all_neighbors.cuh
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

cleanup
  cpp/src/neighbors/all_neighbors/all_neighbors.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_batched.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
  cpp/tests/neighbors/all_neighbors.cuh
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

cleanup and add raft_expects
  cpp/include/cuvs/neighbors/all_neighbors.hpp
  cpp/src/neighbors/all_neighbors/all_neighbors_batched.cuh
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
  cpp/tests/neighbors/all_neighbors/test_float.cu
Owners: @rapidsai/cuvs-cpp-codeowners

Remove redundant 'coarse' from the error message.
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Merge pull request #779 from AyodeAwe/go-publishing
  ci/release/update-version.sh
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  examples/go/README.md
  examples/go/go.mod
  examples/go/go.sum
  examples/go/main.go
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Rust publishing updates (#789)
  .github/workflows/build.yaml
  .github/workflows/publish-rust.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  examples/rust/README.md
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/cuvs-rust-codeowners

moving nnd declarations
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

add build of jar
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

metric in args
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

using nn_descent_gnnd.hpp
  cpp/src/neighbors/all_neighbors/all_neighbors_builder.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

default n_clusters=1
  cpp/include/cuvs/neighbors/all_neighbors.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

rewrite roundup32
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_batch.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

raft macro
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

changing to inline
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
Owners: @rapidsai/cuvs-cpp-codeowners

remove release plugin
  java/cuvs-java/pom.xml
Owners: none

[CI] Enable Java test in CI workflow
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/test_java.sh
  dependencies.yaml
  java/cuvs-java/pom.xml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

confusing but had to change
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

Remove the redundancy test
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

removed wheel_dir variable from ci scripts
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  ci/build_wheel_libcuvs.sh
Owners: @rapidsai/ci-codeowners

retry with -X when fail
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

fix directory for mvn test
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

use `DISTANCE_T` instead of float in search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

git shallow for clean rebuild
  cpp/cmake/config.json
Owners: @rapidsai/cuvs-cmake-codeowners

conda env
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

dependencies
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  cpp/cmake/config.json
  dependencies.yaml
  python/cuvs_bench/pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/cuvs-cmake-codeowners

revert dependencies
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs_bench/pyproject.toml
Owners: @rapidsai/packaging-codeowners

bump up javadoc plugin version and fix javadoc
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceQuery.java
Owners: none

update libcuvs libraft ver
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

libxml temporary fix
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

update readme and simplify logging in examples
  java/README.md
  java/examples/README.md
  java/examples/pom.xml
  java/examples/src/main/java/com/nvidia/cuvs/examples/BruteForceExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/CagraExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/HnswExample.java
  java/examples/src/main/resources/.gitkeep
  java/examples/src/main/resources/log4j2.xml
Owners: none

add dump file commands
  ci/test_java.sh
Owners: @rapidsai/ci-codeowners

changing go rust conda env back fo 25.4
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Owners: @rapidsai/packaging-codeowners

remove libxml from dep
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

first commit
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

libxml2 dependecies for go and rust
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

s
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

switch to nn-descent
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswBuildAndSearchIT.java
Owners: none

set the signature only under deploy
  java/cuvs-java/pom.xml
Owners: none

Serialize Vamana index with SSD sector alignment
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/vamana.cuh
  cpp/src/neighbors/vamana_serialize.cuh
  cpp/tests/neighbors/ann_vamana.cuh
  examples/cpp/src/vamana_example.cu
Owners: @rapidsai/cuvs-cpp-codeowners

DiskANN quantization
  cpp/include/cuvs/neighbors/common.hpp
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/tests/neighbors/ann_vamana.cuh
  examples/cpp/src/vamana_example.cu
Owners: @rapidsai/cuvs-cpp-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#cmake code owners
CMakeLists.txt     @rapidsai/cuvs-cmake-codeowners
**/cmake/          @rapidsai/cuvs-cmake-codeowners
*.cmake            @rapidsai/cuvs-cmake-codeowners

#build code owners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/.devcontainer/          @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
dependencies.yaml        @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
