Repository rapidsai/cuvs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-python-codeowners, @rapidsai/cuvs-rust-codeowners, @rapidsai/cuvs-docs-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

#cpp code owners
cpp/               @rapidsai/cuvs-cpp-codeowners

#python code owners
python/            @rapidsai/cuvs-python-codeowners

#rust code owners
rust/              @rapidsai/cuvs-rust-codeowners

#docs code owners
docs/              @rapidsai/cuvs-docs-codeowners

#build code owners
**/CMakeLists.txt  @rapidsai/cuvs-build-codeowners
**/cmake/          @rapidsai/cuvs-build-codeowners
python/setup.py    @rapidsai/cuvs-build-codeowners
build.sh           @rapidsai/cuvs-build-codeowners
**/build.sh        @rapidsai/cuvs-build-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
docker/            @rapidsai/ops-codeowners
dependencies.yaml  @rapidsai/ops-codeowners

Revert "Try dynamically linking a locally built raft"
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Test an older pylibraft
  ci/test_wheel_cuvs.sh
Owners: @rapidsai/ops-codeowners

Fix typo
  ci/test_wheel_cuvs.sh
Owners: @rapidsai/ops-codeowners

Update ci/test_wheel_cuvs.sh
  ci/test_wheel_cuvs.sh
Owners: @rapidsai/ops-codeowners

Use Raft Bitset
  build.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/bitset.hpp
  cpp/src/core/bitset.cu
  cpp/src/core/bitset.cuh
  cpp/src/neighbors/sample_filter.cuh
  cpp/test/CMakeLists.txt
  cpp/test/core/bitset.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

hide RAFT #pragma deprecation warnings
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Revert "Trying again...y"
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Revert "Using CUVS_USE_RAFT_STATIC"
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Making sure the python cmakelists is reverted
  cpp/CMakeLists.txt
  python/cuvs/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Removing line that was accidentally inserted back
  cpp/CMakeLists.txt
Owners: @rapidsai/cuvs-build-codeowners

Pass through raft static CMake var (#111)
  cpp/cmake/thirdparty/get_raft.cmake
Owners: @rapidsai/cuvs-build-codeowners

fix reorder warning turned into an error
  cpp/src/neighbors/ivf_pq_index.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

Beginning to move over cluster APIs
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/detail/agglomerative.cuh
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/cluster/single_linkage.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

More changes
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/cluster/kmeans_fit_double.cu
  cpp/src/cluster/kmeans_fit_float.cu
  cpp/src/cluster/single_linkage.cuh
  cpp/src/distance/detail/fused_distance_nn.cu
  cpp/src/distance/fused_distance_nn-ext.cuh
  cpp/src/distance/fused_distance_nn-inl.cuh
  cpp/src/distance/fused_distance_nn.cuh
  cpp/src/distance/fused_distance_nn_helpers.cuh
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Checking in
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/CMakeLists.txt
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/distance/detail/fused_distance_nn/cutlass_base.cuh
  cpp/src/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch-inl.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_00_generate.py
  cpp/src/distance/detail/pairwise_matrix/dispatch_l1_double_double_double_int.cu
  cpp/src/distance/distance-inl.cuh
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/test/neighbors/naive_knn.cuh
Owners: @rapidsai/ops-codeowners, @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

fix unused-but-set-variable warning as error
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

More kmeans fixes
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/kmeans.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Anothr check in
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_balanced.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Chcking in
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
Owners: @rapidsai/cuvs-cpp-codeowners

address review
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_flat_helpers.cuh
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_codepacker.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search_uint8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

fix include
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

MOre updates
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/refine_device.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_list.cuh
  cpp/test/neighbors/naive_knn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

address review
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Removing fused l2 nn
  cpp/src/distance/detail/fused_l2_nn.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

address review
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/neighbors/detail/div_utils.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

ConfigureCUDA.cmake now sets CUVS_ prefixed variables
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Update copyright year
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Update cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/cmake/modules/ConfigureCUDA.cmake
Owners: @rapidsai/cuvs-build-codeowners

Fix more issues found via warnings
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fix IVF-PQ helper functions
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Got things compiling but not linking.
  cpp/src/distance/detail/distance_ops/all_ops.cuh
  cpp/src/distance/detail/fused_distance_nn/custom_epilogue_with_broadcast.h
  cpp/src/distance/detail/fused_distance_nn/cutlass_base.cuh
  cpp/src/distance/detail/fused_distance_nn/epilogue.cuh
  cpp/src/distance/detail/fused_distance_nn/epilogue_elementwise.cuh
  cpp/src/distance/detail/fused_distance_nn/gemm.h
  cpp/src/distance/detail/fused_distance_nn/persistent_gemm.h
  cpp/src/distance/detail/fused_distance_nn/predicated_tile_iterator_normvec_smem.h
  cpp/src/distance/detail/fused_distance_nn/predicated_tile_iterator_reduced_vec.h
  cpp/src/distance/detail/pairwise_distance_cutlass_base.cuh
  cpp/src/distance/detail/pairwise_distance_epilogue.h
  cpp/src/distance/detail/pairwise_distance_epilogue_elementwise.h
  cpp/src/distance/detail/pairwise_distance_gemm.h
  cpp/src/distance/detail/predicated_tile_iterator_normvec.h
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Migrate BFKNN from raft
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_index.cu
  cpp/src/neighbors/detail/faiss_distance_utils.h
  cpp/src/neighbors/detail/fused_l2_knn.cuh
  cpp/src/neighbors/detail/haversine_distance.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_merge_parts.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Remove dedicated helper header
  .gitignore
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/cpp_api/neighbors_ivf_pq.rst
Owners: @rapidsai/cuvs-cpp-codeowners, @rapidsai/cuvs-docs-codeowners

Checking in
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/kmeans_fit_predict_double.cu
  cpp/src/cluster/kmeans_fit_predict_float.cu
  cpp/src/cluster/kmeans_predict_double.cu
  cpp/src/cluster/kmeans_predict_float.cu
  cpp/src/cluster/kmeans_transform_double.cu
  cpp/src/cluster/kmeans_transform_float.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/kmeans.cu
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/cluster/kmeans_find_k.cu
  cpp/test/cluster/linkage.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

Tryin to figure out linking errors
  cpp/src/neighbors/detail/div_utils.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

MOre headers
  cpp/include/cuvs/distance/distance_types.hpp
  cpp/include/cuvs/distance/pairwise_distance.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_inst.cuh
  cpp/test/distance/distance_base.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

combine ivf_flat_helper functions into ivf_flat
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_flat_helpers.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

fix ivf flat search
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
Owners: @rapidsai/cuvs-cpp-codeowners

Fixing ivf flat so it's using cuvs' kmeasn
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/test/cluster/kmeans_balanced.cu
  cpp/test/cluster/kmeans_find_k.cu
  cpp/test/cluster/linkage.cu
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners

FIxed logger issue
  cpp/CMakeLists.txt
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/neighbors/cagra_serialize.cuh
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_fp_8bit.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
Owners: @rapidsai/cuvs-build-codeowners, @rapidsai/cuvs-cpp-codeowners
