Repository rapidsai/cuvs, pull requests merged in 2024-11, with the labels that each got.

#435 Fix index overflow in edge cases of CAGRA graph optimize
  cpp/src/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp

#437 call `enable_testing` in root CMakeLists.txt
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#441 Don't presume pointers location infers usability.
  cpp/src/neighbors/detail/ann_utils.cuh
Labels: improvement, non-breaking, cpp

#438 BUG: CAGRA multi-cta illegal access with bad queries
  cpp/src/neighbors/detail/cagra/device_common.hpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra/bug_multi_cta_crash.cu
Labels: bug, non-breaking, cpp, CMake

#436 CAGRA tech debt: distance descriptor and workspace memory
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
Labels: improvement, non-breaking, cpp

#448 Adding tech stack to docs
  README.md
  docs/source/index.rst
  img/tech_stack.png
Labels: doc, non-breaking

#464 enforce wheel size limits, README formatting in CI
  ci/build_wheel_cuvs.sh
  ci/validate_wheel.sh
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#467 Fix include errors, header, and unsafe locks in iface.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/iface/iface.hpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/mg/mg.cuh
  examples/cpp/src/common.cuh
Labels: bug, non-breaking, cpp

#177 Add `InnerProduct` and `CosineExpanded` metric support in NN Descent
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/nn_descent_index.cpp
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_nn_descent.cuh
  python/cuvs/cuvs/test/test_cagra.py
  python/cuvs/cuvs/test/test_hnsw.py
Labels: feature request, non-breaking, cpp, CMake, Python

#469 use different wheel-size thresholds based on CUDA version
  ci/validate_wheel.sh
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#460 Fix an OOB error in device-side cuvs::neighbors::refine and CAGRA kern_prune
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra/bug_extreme_inputs_oob.cu
Labels: bug, non-breaking, cpp, CMake

#457 Migrate sparse knn and distances code from raft
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/distance.hpp
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/distance/detail/sparse/bin_distance.cuh
  cpp/src/distance/detail/sparse/common.hpp
  cpp/src/distance/detail/sparse/coo_spmv.cuh
  cpp/src/distance/detail/sparse/coo_spmv_kernel.cuh
  cpp/src/distance/detail/sparse/coo_spmv_strategies/base_strategy.cuh
  cpp/src/distance/detail/sparse/coo_spmv_strategies/coo_mask_row_iterators.cuh
  cpp/src/distance/detail/sparse/coo_spmv_strategies/dense_smem_strategy.cuh
  cpp/src/distance/detail/sparse/coo_spmv_strategies/hash_strategy.cuh
  cpp/src/distance/detail/sparse/ip_distance.cuh
  cpp/src/distance/detail/sparse/l2_distance.cuh
  cpp/src/distance/detail/sparse/lp_distance.cuh
  cpp/src/distance/detail/sparse/utils.cuh
  cpp/src/distance/sparse_distance.cu
  cpp/src/distance/sparse_distance.cuh
  cpp/src/neighbors/detail/sparse_knn.cuh
  cpp/src/neighbors/sparse_brute_force.cu
  cpp/test/CMakeLists.txt
  cpp/test/distance/sparse_distance.cu
  cpp/test/neighbors/sparse_brute_force.cu
Labels: improvement, non-breaking, cpp, CMake

#485 Add `kIsSingleSource` to `PairwiseDistanceEpilogueElementwise`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/src/distance/detail/pairwise_distance_epilogue_elementwise.h
Labels: bug, non-breaking, cpp

#473 Fix broken link in README.md references
  README.md
Labels: doc, non-breaking

#461 Add serialization API to brute-force
  .gitignore
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/brute_force_serialize.cu
  cpp/test/neighbors/ann_brute_force.cuh
  docs/source/c_api/neighbors_bruteforce_c.rst
  docs/source/c_api/neighbors_hnsw_c.rst
  docs/source/c_api/neighbors_ivf_flat_c.rst
  docs/source/c_api/neighbors_ivf_pq_c.rst
  docs/source/cpp_api/neighbors_bruteforce.rst
  docs/source/python_api/neighbors_brute_force.rst
  docs/source/python_api/neighbors_cagra.rst
  docs/source/python_api/neighbors_hnsw.rst
  docs/source/python_api/neighbors_ivf_flat.rst
  docs/source/python_api/neighbors_ivf_pq.rst
  python/cuvs/cuvs/neighbors/brute_force/__init__.py
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pxd
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/test/test_serialization.py
Labels: feature request, non-breaking, cpp, CMake, Python

#484 [Doc] Fix CAGRA search sample code
  cpp/include/cuvs/neighbors/cagra.hpp
Labels: doc, non-breaking, cpp

#493 Update example code fetching rapids-cmake to use CUVS instead of RAFT
  examples/cmake/thirdparty/fetch_rapids.cmake
Labels: improvement, non-breaking, CMake

#497 Remove RAFT BUILD_ANN_BENCH option
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, cpp, CMake

#442 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#498 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking

#499 Adapt to rmm logger changes
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/test/CMakeLists.txt
  examples/cpp/CMakeLists.txt
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/distance/CMakeLists.txt
  python/cuvs/cuvs/neighbors/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
  python/cuvs/cuvs/neighbors/filters/CMakeLists.txt
  python/cuvs/cuvs/neighbors/hnsw/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_pq/CMakeLists.txt
  python/cuvs/cuvs/test/conftest.py
Labels: improvement, non-breaking, cpp, CMake, Python
