Repository rapidsai/cuvs, pull requests merged in 2024-05, with the labels that each got.

#102 Enable Warnings as errors in Python tests
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#93 Migrate to `{{ stdlib("c") }}`
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
Labels: improvement, non-breaking

#111 Pass through raft static CMake var
  cpp/cmake/thirdparty/get_raft.cmake
Labels: bug, non-breaking, cpp, CMake, Python

#119 Fix rust api docs
  docs/source/api_docs.rst
  docs/source/rust_api/index.rst
Labels: improvement, non-breaking

#118 Migrate BFKNN from raft
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_index.cu
  cpp/src/neighbors/detail/faiss_distance_utils.h
  cpp/src/neighbors/detail/fused_l2_knn.cuh
  cpp/src/neighbors/detail/haversine_distance.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_merge_parts.cuh
Labels: improvement, non-breaking, cpp, CMake

#66 ConfigureCUDA.cmake now sets CUVS_ prefixed variables
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: improvement, non-breaking, cpp, CMake

#116 Fix IVF-PQ helper functions
  .gitignore
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/ivf_pq_helpers.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  docs/source/cpp_api/neighbors_ivf_pq.rst
Labels: improvement, non-breaking, cpp

#138 Speed-up rust build
  rust/cuvs-sys/CMakeLists.txt
  rust/cuvs-sys/build.rs
Labels: improvement, non-breaking, CMake

#69 Adds missing files to `update-version.sh`
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#114 hide RAFT #pragma deprecation warnings
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking, cpp, CMake

#141 Changing RAFT_EXPLICT_* to CUVS_EXPLITI_*
  cpp/CMakeLists.txt
  cpp/src/cluster/detail/mst.cuh
  cpp/src/cluster/detail/single_linkage.cuh
  cpp/src/distance/detail/compress_to_bits.cuh
  cpp/src/distance/detail/masked_distance_base.cuh
  cpp/src/distance/detail/masked_nn.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch.cuh
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance.cuh
  cpp/src/distance/masked_nn.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel.cuh
  cpp/src/neighbors/detail/refine_host-ext.hpp
  cpp/src/neighbors/refine-ext.cuh
  cpp/src/neighbors/refine.cuh
  cpp/src/sparse/neighbors/cross_component_nn.cuh
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/test/CMakeLists.txt
  cpp/test/cluster/linkage.cu
  cpp/test/distance/masked_nn.cu
  cpp/test/sparse/neighbors/cross_component_nn.cu
  docs/source/integrations.rst
Labels: improvement, non-breaking, cpp, CMake

#142 Add pairwise_distance api's for C, Python and Rust
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/pairwise_distance.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/distance/pairwise_distance_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/distance/pairwise_distance_c.cu
  cpp/test/distance/run_pairwise_distance_c.c
  docs/source/cpp_api/distance.rst
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/distance/CMakeLists.txt
  python/cuvs/cuvs/distance/__init__.pxd
  python/cuvs/cuvs/distance/__init__.py
  python/cuvs/cuvs/distance/distance.pxd
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_distance.py
  python/cuvs/cuvs/test/test_doctests.py
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs/src/distance/mod.rs
  rust/cuvs/src/lib.rs
Labels: improvement, non-breaking, cpp, CMake, Python

#153 fix devcontainer name for codespaces
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: improvement, non-breaking

#148 Accept host_mdspan for IVF-PQ build and extend
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_inst.cuh
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: improvement, non-breaking, cpp

#146 [FEA] support of prefiltered brute force
  cpp/include/cuvs/core/bitmap.hpp
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/knn_utils.cuh
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/brute_force_prefiltered.cu
  cpp/test/neighbors/knn_utils.cuh
Labels: feature request, non-breaking, cpp, CMake

#159 Select k instantiations
  cpp/CMakeLists.txt
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/selection/select_k.cuh
  cpp/src/selection/select_k_float_int64_t.cu
  cpp/src/selection/select_k_float_uint32_t.cu
  cpp/src/selection/select_k_half_uint32_t.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/selection.rst
Labels: improvement, non-breaking, cpp, CMake

#92 update: replace to cuvs from RAFT in PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: improvement, non-breaking

#164 Expose serialization to the python / c-api
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Labels: improvement, non-breaking, cpp, Python

#131 CAGRA API update and allow async host refinement
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_build_float.cu
  cpp/src/neighbors/cagra_build_int8.cu
  cpp/src/neighbors/cagra_build_uint8.cu
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/src/neighbors/nn_descent.cu
  cpp/src/neighbors/refine/refine_host.hpp
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp, CMake

#167 Fix CAGRA OOM handling
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/nn_descent.cu
Labels: bug, non-breaking, cpp

#145 Use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/cuvs/_version.py
  python/cuvs/cuvs/test/test_version.py
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python
