Repository rapidsai/cuvs, pull requests merged in 2024-06, with the labels that each got.

#173 Allow serialization on streams
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/cagra_serialize.cuh
  cpp/src/neighbors/cagra_serialize_float.cu
  cpp/src/neighbors/cagra_serialize_int8.cu
  cpp/src/neighbors/cagra_serialize_uint8.cu
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_deserialize.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cu
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: breaking, improvement, cpp

#175 Add refine to the Python and C api's
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/neighbors/refine.h
  cpp/src/neighbors/refine/refine_c.cpp
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/neighbors/CMakeLists.txt
  python/cuvs/cuvs/neighbors/__init__.py
  python/cuvs/cuvs/neighbors/refine.pxd
  python/cuvs/cuvs/neighbors/refine.pyx
  python/cuvs/cuvs/test/test_refine.py
Labels: improvement, non-breaking, cpp, CMake, Python

#183 Adopt CI/packaging codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#180 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#181 Scaling workspace resources
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
Labels: improvement, non-breaking, cpp

#185 resolve dependency-file-generator warning, rapids-build-backend followup
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_rust.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#187 Change cagra.build_index to cagra.build
  README.md
  docs/source/python_api/neighbors_cagra.rst
  docs/source/working_with_ann_indexes_python.rst
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Labels: improvement, non-breaking, Python

#186 Add python serialization API's for ivf-pq and ivf_flat
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/src/neighbors/ivf_pq_index.cpp
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  python/cuvs/cuvs/common/exceptions.pyx
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.py
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.py
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_cagra.py
  python/cuvs/cuvs/test/test_serialization.py
Labels: improvement, non-breaking, cpp, Python

#192 Fix a CAGRA graph opt bug
  cpp/src/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp

#193 fix library name in docs ('cuvs' not 'pycuvs')
  README.md
  docs/source/build.rst
Labels: doc, non-breaking

#130 ANN_BENCH
  build.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libcuvs/build_libcuvs_tests.sh
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.cpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/cuda_huge_page_resource.hpp
  cpp/bench/ann/src/common/cuda_pinned_resource.hpp
  cpp/bench/ann/src/common/cuda_stub.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/thread_pool.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_float.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_int8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_uint8_t.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq.cu
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_benchmark.cu
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/cmake/patches/ggnn.diff
  cpp/cmake/patches/hnswlib.diff
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/cmake/thirdparty/get_nlohmann_json.cmake
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_serialize.cuh
  dependencies.yaml
Labels: improvement, non-breaking, cpp, CMake, benchmarking

#203 Adding IVF examples
  examples/build.sh
  examples/cpp/CMakeLists.txt
  examples/cpp/src/ivf_flat_example.cu
  examples/cpp/src/ivf_pq_example.cu
Labels: improvement, non-breaking, CMake, example
