Repository rapidsai/cuvs, pull requests merged in 2024-04, with the labels that each got.

#62 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/build_rust.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#64 [fix] link anchor of "Installing cuVS"
  README.md
Labels: doc, non-breaking

#61 Add CAGRA-Q compression
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#72 Update devcontainers to use cuda12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Labels: improvement, non-breaking, CMake, Python

#73 Add `lucene-cuvs` to integrations section of docs
  docs/source/integrations.rst
Labels: doc, non-breaking

#68 Add Cagra-Q compression to the python and rust api's
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
Labels: improvement, non-breaking, Rust, Python

#63 Enable all tests for `arm` jobs
  ci/test_wheel_cuvs.sh
  ci/wheel_smoke_test_cuvs.py
Labels: improvement, non-breaking, ci

#75 Fix for 24.04 release
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Labels: bug, non-breaking, CMake, Python

#79 [RELEASE] v24.04
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
Labels: CMake, Python

#80 Forward merge branch-24.04 to branch-24.06
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#81 Update the developer's guide with new copyright hook
  docs/source/developer_guide.md
Labels: doc, non-breaking

#83 Use static gtest
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_gtest.cmake
Labels: improvement, non-breaking, cpp, CMake

#84 Fix rust docs build
  ci/build_docs.sh
  dependencies.yaml
Labels: bug, non-breaking, ci

#88 Update pip devcontainers to UCX v1.15.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: improvement, non-breaking

#87 Remove gtest from dependencies.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#89 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci
