Repository rapidsai/cuvs, pull requests merged in 2024-08, with the labels that each got.

#268 Remove fp16 kernels that have no public entry point
  cpp/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake

#122 Enable random subsampling
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  rust/cuvs/src/ivf_pq/index_params.rs
Labels: improvement, non-breaking, cpp, Python

#280 Use tool.scikit-build.cmake.version, set scikit-build-core minimum-version
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#271 Fix python ivf-pq for int8/uint8 dtypes
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/test/test_ivf_pq.py
Labels: bug, non-breaking, cpp, Python

#282 Improve update-version.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#283 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#179 [FEA] Support for Cosine distance in IVF-Flat
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/kmeans_balanced.cuh
  cpp/src/neighbors/ivf_common.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_build_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_float_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_int8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_extend_uint8_t_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_flat_index.cpp
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/naive_knn.cuh
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/test/test_ivf_flat.py
Labels: improvement, non-breaking, cpp, Python

#292 Fix dataset dimension in IVF-PQ C wrappers
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
Labels: bug, non-breaking, cpp

#298 Use CUDA math wheels
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  dependencies.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, ci, CMake, Python

#299 [Fix] pin raft dependent to rapidsai
  cpp/cmake/thirdparty/get_raft.cmake
Labels: bug, non-breaking, cpp, CMake

#285 Add RMM Pool memory resource to C API
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  cpp/test/core/c_api.c
Labels: improvement, non-breaking, cpp

#301 Drop Python 3.9 support
  dependencies.yaml
  pyproject.toml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#297 Remove NumPy <2 pin
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#303 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking
