Repository rapidsai/cuvs, pull requests merged in 2024-09, with the labels that each got.

#314 Exclude any kernel symbol that uses cutlass
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: bug, non-breaking

#294 Updating example notebooks
  .gitignore
  cpp/src/neighbors/cagra_optimize.cu
  notebooks/VectorSearch_QuestionRetrieval.ipynb
  notebooks/ivf_flat_example.ipynb
  notebooks/tutorial_ivf_pq.ipynb
Labels: improvement, non-breaking, cpp

#313 Migrate trustworthiness and silhouette_score stats from RAFT
  cpp/CMakeLists.txt
  cpp/include/cuvs/stats/silhouette_score.hpp
  cpp/include/cuvs/stats/trustworthiness_score.hpp
  cpp/src/stats/detail/batched/silhouette_score.cuh
  cpp/src/stats/detail/silhouette_score.cuh
  cpp/src/stats/detail/trustworthiness_score.cuh
  cpp/src/stats/silhouette_score.cu
  cpp/src/stats/trustworthiness_score.cu
  cpp/test/CMakeLists.txt
  cpp/test/stats/silhouette_score.cu
  cpp/test/stats/trustworthiness.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/cpp_api/stats.rst
Labels: improvement, non-breaking, cpp, CMake

#312 Add support for Python 3.12
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#318 Update Python versions in cuvs_bench pyproject.toml.
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, Python

#240 C API for CAGRA+HNSW
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/hnsw.h
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/hnsw_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_hnsw_c.cu
  docs/source/c_api/neighbors_cagra_c.rst
  docs/source/c_api/neighbors_hnsw_c.rst
  docs/source/cpp_api/neighbors_cagra.rst
  docs/source/cpp_api/neighbors_hnsw.rst
Labels: feature request, non-breaking, cpp, CMake, Python

#321 Refactor dependencies.yaml to use depends-on pattern.
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#322 Simplify libcuvs conda recipe.
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#328 fix style checks on Python 3.12
  python/cuvs/cuvs/test/test_doctests.py
Labels: improvement, non-breaking, Python

#327 Update flake8 to 7.1.1.
  .pre-commit-config.yaml
  python/cuvs/cuvs/test/test_doctests.py
Labels: improvement, non-breaking, Python

#331 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#329 Fix order of operations for cosine IVF Flat
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
Labels: bug, non-breaking, cpp

#326 Fix broken examples link in README.
  README.md
Labels: doc, non-breaking

#325 Recommend `miniforge` for conda install
  docs/source/build.rst
Labels: doc, non-breaking

#344 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#341 remove NCCL pins in build and test environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#350 [Feat] Relative change with `bitset` API feature #2439 in raft
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force_prefiltered.cu
Labels: feature request, non-breaking, cpp

#215 Persistent CAGRA kernel
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/common/util.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/detail/cagra/compute_distance-ext.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/compute_distance_00_generate.py
  cpp/src/neighbors/detail/cagra/compute_distance_standard-impl.cuh
  cpp/src/neighbors/detail/cagra/compute_distance_standard.hpp
  cpp/src/neighbors/detail/cagra/compute_distance_vpq-impl.cuh
  cpp/src/neighbors/detail/cagra/compute_distance_vpq.hpp
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel.cuh
  examples/cpp/CMakeLists.txt
  examples/cpp/src/cagra_persistent_example.cu
Labels: improvement, non-breaking, cpp, CMake

#279 Add cuvs_bench.run python code and build
  .gitignore
  build.sh
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/libcuvs/build_libcuvs_tests.sh
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  dependencies.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/neighbors/filters/CMakeLists.txt
  python/cuvs_bench/cuvs_bench/config/__init__.py
  python/cuvs_bench/cuvs_bench/config/algorithms.yaml
  python/cuvs_bench/cuvs_bench/config/algos/__init__.py
  python/cuvs_bench/cuvs_bench/config/algos/constraints/__init__.py
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra_hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/bigann-100M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/datasets.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-100M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-1B.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-image-96-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/fashion-mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/gist-960-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-100-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-100-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-50-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-50-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/lastfm-65-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/nytimes-256-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/nytimes-256-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/sift-128-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_10M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_1M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_88M.yaml
  python/cuvs_bench/cuvs_bench/run/__init__.py
  python/cuvs_bench/cuvs_bench/run/__main__.py
  python/cuvs_bench/cuvs_bench/run/run.py
  python/cuvs_bench/cuvs_bench/run/runners.py
  python/cuvs_bench/cuvs_bench/tests/test_run.py
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, cpp, CMake, Python

#305 Add `managed` option for RMM Pool memory resource to C API
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  cpp/test/core/c_api.c
Labels: improvement, non-breaking, cpp

#264 FP16 API for CAGRA and IVF-PQ
  cpp/CMakeLists.txt
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_half.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq.cu
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/cagra_build_half.cu
  cpp/src/neighbors/cagra_search_half.cu
  cpp/src/neighbors/cagra_serialize_half.cu
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/compute_distance_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_00_generate.py
  cpp/src/neighbors/detail/cagra/search_multi_cta_half_uint64.cu
  cpp/src/neighbors/detail/cagra/search_single_cta_00_generate.py
  cpp/src/neighbors/ivf_pq/detail/generate_ivf_pq.py
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_build_extend_half_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_half_int64_t.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_search_with_filter_half_int64_t.cu
  cpp/src/neighbors/nn_descent_half.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra/test_half_uint32_t.cu
Labels: bug, non-breaking, cpp, CMake
