Repository rapidsai/cuvs, pull requests merged in 2024-10, with the labels that each got.

#347 cuvs_bench plotting functions
  .gitignore
  python/cuvs_bench/cuvs_bench/plot/__init__.py
  python/cuvs_bench/cuvs_bench/plot/__main__.py
  python/cuvs_bench/cuvs_bench/run/__main__.py
  python/cuvs_bench/cuvs_bench/run/data_export.py
  python/cuvs_bench/cuvs_bench/run/run.py
Labels: feature request, non-breaking, Python

#323 Add function for calculating the mutual_reachability_graph
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/reachability.hpp
  cpp/include/cuvs/selection/select_k.hpp
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/reachability.cuh
  cpp/src/neighbors/reachability.cu
  cpp/src/selection/select_k_float_int32_t.cu
Labels: improvement, non-breaking, cpp, CMake

#372 Put the ann-bench large_workspace_resource in managed memory
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
Labels: improvement, non-breaking, cpp

#257 Adding example for tuning build and search params using Optuna
  notebooks/cuvs_hpo_example.ipynb
Labels: improvement, non-breaking

#339 Vamana/DiskANN index build
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/greedy_search.cuh
  cpp/src/neighbors/detail/vamana/macros.cuh
  cpp/src/neighbors/detail/vamana/priority_queue.cuh
  cpp/src/neighbors/detail/vamana/robust_prune.cuh
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/detail/vamana/vamana_structs.cuh
  cpp/src/neighbors/vamana.cuh
  cpp/src/neighbors/vamana_build_float.cu
  cpp/src/neighbors/vamana_build_int8.cu
  cpp/src/neighbors/vamana_build_uint8.cu
  cpp/src/neighbors/vamana_serialize.cuh
  cpp/src/neighbors/vamana_serialize_float.cu
  cpp/src/neighbors/vamana_serialize_int8.cu
  cpp/src/neighbors/vamana_serialize_uint8.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_vamana.cuh
  cpp/test/neighbors/ann_vamana/test_float_uint32_t.cu
  cpp/test/neighbors/ann_vamana/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_vamana/test_uint8_t_uint32_t.cu
  examples/build.sh
  examples/c/CMakeLists.txt
  examples/cpp/CMakeLists.txt
  examples/cpp/src/common.cuh
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, cpp, CMake

#380 Use 64 bit types for dataset size calculation in CAGRA graph optimizer
  cpp/src/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp

#382 Add a static library for cuvs
  cpp/CMakeLists.txt
  cpp/test/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#388 Remove cuvs-cagra-search from cuvs_static link
  cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#342 Improving getting started materials
  README.md
  docs/source/api_basics.rst
  docs/source/api_docs.rst
  docs/source/api_interoperability.rst
  docs/source/build.rst
  docs/source/choosing_and_configuring_indexes.rst
  docs/source/comparing_indexes.rst
  docs/source/cuvs_bench/build.rst
  docs/source/cuvs_bench/index.rst
  docs/source/cuvs_bench/param_tuning.rst
  docs/source/cuvs_bench/wiki_all_dataset.rst
  docs/source/getting_started.rst
  docs/source/images/build_benchmarks.png
  docs/source/images/index_recalls.png
  docs/source/images/recall_buckets.png
  docs/source/index.rst
  docs/source/indexes/bruteforce.rst
  docs/source/indexes/cagra.rst
  docs/source/indexes/indexes.rst
  docs/source/indexes/ivfflat.rst
  docs/source/indexes/ivfpq.rst
  docs/source/integrations.rst
  docs/source/integrations/faiss.rst
  docs/source/integrations/kinetica.rst
  docs/source/integrations/lucene.rst
  docs/source/integrations/milvus.rst
  docs/source/tuning_guide.rst
  docs/source/vector_databases_vs_vector_search.rst
Labels: doc, non-breaking

#346 CosineExpanded Metric for IVF-PQ (normalize inputs)
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_compute_similarity_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_ivf_pq/test_float_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_int8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_uint8_t_int64_t.cu
Labels: feature request, non-breaking, cpp, Python

#368 Port remaining scripts to `cuvs_bench`
  build.sh
  ci/build_python.sh
  conda/recipes/cuvs_bench/build.sh
  conda/recipes/cuvs_bench/conda_build_config.yaml
  conda/recipes/cuvs_bench/meta.yaml
  conda/recipes/cuvs_bench_cpu/build.sh
  conda/recipes/cuvs_bench_cpu/conda_build_config.yaml
  conda/recipes/cuvs_bench_cpu/meta.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuvs.cmake
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
  python/cuvs_bench/cuvs_bench/generate_groundtruth/utils.py
  python/cuvs_bench/cuvs_bench/get_dataset/__main__.py
  python/cuvs_bench/cuvs_bench/get_dataset/fbin_to_f16bin.py
  python/cuvs_bench/cuvs_bench/get_dataset/hdf5_to_fbin.py
  python/cuvs_bench/cuvs_bench/run/__main__.py
  python/cuvs_bench/cuvs_bench/run/run.py
  python/cuvs_bench/cuvs_bench/split_groundtruth/__main__.py
  python/cuvs_bench/cuvs_bench/split_groundtruth/split_groundtruth.pl
Labels: feature request, non-breaking, ci, cpp, CMake, Python

#392 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#396 More doc updates for 24.10
  README.md
  docs/source/build.rst
  docs/source/cuvs_bench/datasets.rst
  docs/source/cuvs_bench/index.rst
  docs/source/index.rst
  python/cuvs_bench/cuvs_bench/config/algorithms.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_ivf_pq.yaml
Labels: doc, non-breaking, Python

#400 Fix NVTX annotations
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/util.hpp
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Labels: bug, non-breaking, cpp, CMake

#406 make conda installs in CI stricter
  ci/build_docs.sh
  ci/build_rust.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#405 Add --no-lap-sync cmd option to ann-bench
  cpp/bench/ann/src/common/benchmark.hpp
Labels: feature request, non-breaking, cpp

#408 Add `click` package to `cuvs-bench` conda recipe
  conda/recipes/cuvs_bench/meta.yaml
  conda/recipes/cuvs_bench_cpu/meta.yaml
Labels: bug, non-breaking

#416 We need to enable the c_api by default
  cpp/CMakeLists.txt
  cpp/test/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#417 Use dashes in cuvs-bench package name.
  build.sh
  ci/build_python.sh
  conda/recipes/cuvs-bench-cpu/build.sh
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/build.sh
  conda/recipes/cuvs-bench/conda_build_config.yaml
  conda/recipes/cuvs-bench/meta.yaml
  docs/source/cuvs_bench/index.rst
Labels: breaking, improvement, ci

#420 Use Python for sccache hit rate computation.
  build.sh
Labels: bug, non-breaking

#422 Use environment variables in cache hit rate computation.
  build.sh
Labels: improvement, non-breaking

#427 Fix correct call to brute force in generate groundtruth of cuvs-bench
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
Labels: bug, non-breaking, Python

#404 Ivf c example
  examples/c/CMakeLists.txt
  examples/c/src/common.h
  examples/c/src/ivf_flat_c_example.c
  examples/c/src/ivf_pq_c_example.c
Labels: improvement, non-breaking, CMake

#413 print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#439 Enable NVTX in cuvs-cagra-search component
  cpp/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake
