Repository rapidsai/cuvs, pull requests merged in 2024-07, with the labels that each got.

#206 Add rust example
  examples/rust/Cargo.toml
  examples/rust/README.md
  examples/rust/src/main.rs
Labels: improvement, non-breaking

#191 DOC: update notebook link
  docs/source/index.rst
Labels: improvement, non-breaking

#207 Fixes for publishing rust package to crates.io
  ci/release/update-version.sh
  rust/cuvs-sys/CMakeLists.txt
  rust/cuvs-sys/VERSION
  rust/cuvs-sys/get_dlpack.cmake
  rust/cuvs-sys/rapids_config.cmake
  rust/cuvs/Cargo.toml
Labels: improvement, non-breaking, ci, CMake

#202 Fix compilation error when _CLK_BREAKDOWN is defined in cagra.
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Labels: improvement, non-breaking, cpp

#209 Use verify-alpha-spec hook
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#214 skip CMake 3.30.0
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#216 Add CUDA_STATIC_MATH_LIBRARIES
  cpp/CMakeLists.txt
  docs/source/build.rst
  python/cuvs/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, Python

#151 CAGRA new vector addition
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_extend_float.cu
  cpp/src/neighbors/cagra_extend_int8.cu
  cpp/src/neighbors/cagra_extend_uint8.cu
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
  docs/source/cpp_api/neighbors_cagra.rst
Labels: feature request, non-breaking, cpp, CMake, Python

#220 Add python bindings for ivf-* extend functions
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/neighbors/ivf_flat/__init__.py
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/__init__.py
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/test/test_doctests.py
  python/cuvs/cuvs/test/test_ivf_flat.py
  python/cuvs/cuvs/test/test_ivf_pq.py
Labels: improvement, non-breaking, cpp, Python

#219 Build and test with CUDA 12.5.1
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.rst
Labels: improvement, non-breaking

#217 Add col-major support for brute force knn
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/knn_utils.cuh
Labels: improvement, non-breaking, cpp

#228 CAGRA bench: use device-side refinement when the data is on device
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
Labels: bug, non-breaking, cpp

#226 Mark the rust brute force unittest as flaky
  rust/cuvs/Cargo.toml
  rust/cuvs/src/brute_force.rs
  rust/cuvs/src/distance/mod.rs
Labels: improvement, non-breaking

#234 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#235 Fix pinning to a different RAFT tag
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, cpp, CMake, Python

#229 Moving over C++ API of CAGRA+hnswlib from RAFT
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/hnsw.cu
Labels: feature request, non-breaking, cpp, CMake

#227 CAGRA: reduce argument count in select_and_run() kernel wrappers
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-ext.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Labels: improvement, non-breaking, cpp

#249 Use `raft::util::popc(...)` public API
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force_prefiltered.cu
Labels: bug, non-breaking, cpp

#247 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#241 Enable building FAISS main statically
  .devcontainer/Dockerfile
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/cmake/patches/faiss_override.json
  cpp/cmake/patches/ggnn_override.json
  cpp/cmake/patches/hnswlib_override.json
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/test/CMakeLists.txt
Labels: bug, non-breaking, cpp, CMake

#248 Add more info to ANN_BENCH context
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/util.hpp
Labels: improvement, non-breaking, cpp

#251 [Opt] introduce the `masked_matmul` to prefiltered brute force.
  cpp/src/neighbors/detail/knn_brute_force.cuh
Labels: improvement, non-breaking

#213 Complete Migration of IVF Helpers / Features from RAFT
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/div_utils.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cuh
  cpp/src/neighbors/ivf_list.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_codepacking.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_list.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  examples/cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#255 Fixed link to build docs and corrected ivf_flat_example
  README.md
  notebooks/ivf_flat_example.ipynb
Labels: improvement, non-breaking

#232 chore: update search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
Labels: improvement, non-breaking, cpp

#244 Add cuvs_bench python folder, config files and constraints
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_brute_force.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra_hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/bigann-100M.yaml
  python/cuvs_bench/cuvs_bench/config/constraints.py
  python/cuvs_bench/cuvs_bench/config/datasets.yaml
  python/cuvs_bench/cuvs_bench/config/deep-100M.yaml
  python/cuvs_bench/cuvs_bench/config/deep-1B.yaml
  python/cuvs_bench/cuvs_bench/config/deep-image-96-inner.yaml
  python/cuvs_bench/cuvs_bench/config/fashion-mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/gist-960-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/glove-100-angular.yaml
  python/cuvs_bench/cuvs_bench/config/glove-100-inner.yaml
  python/cuvs_bench/cuvs_bench/config/glove-50-angular.yaml
  python/cuvs_bench/cuvs_bench/config/glove-50-inner.yaml
  python/cuvs_bench/cuvs_bench/config/lastfm-65-angular.yaml
  python/cuvs_bench/cuvs_bench/config/mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/nytimes-256-angular.yaml
  python/cuvs_bench/cuvs_bench/config/nytimes-256-inner.yaml
  python/cuvs_bench/cuvs_bench/config/sift-128-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/wiki_all_10M.yaml
  python/cuvs_bench/cuvs_bench/config/wiki_all_1M.yaml
  python/cuvs_bench/cuvs_bench/config/wiki_all_88M.yaml
Labels: feature request, non-breaking, Python

#237 Add MST optimization to guarantee the connectivity of CAGRA graphs
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
Labels: feature request, non-breaking, cpp

#262 Update pip devcontainers to UCX v1.17.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
Labels: improvement, non-breaking

#230 Enable kernel & memcpy overlapping in IVF index building
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/test/neighbors/ann_ivf_flat.cuh
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_ivf_pq/test_float_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_int8_t_int64_t.cu
  cpp/test/neighbors/ann_ivf_pq/test_uint8_t_int64_t.cu
Labels: improvement, non-breaking, cpp
