Repository rapidsai/cuvs, pull requests merged in 2024-03, with the labels that each got.

#34 Add Rust bindings for CAGRA
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  README.md
  ci/build_rust.sh
  dependencies.yaml
  rust/Cargo.toml
  rust/cuvs-sys/Cargo.toml
  rust/cuvs-sys/build.rs
  rust/cuvs-sys/cuvs_c_wrapper.h
  rust/cuvs-sys/src/lib.rs
  rust/cuvs/Cargo.toml
  rust/cuvs/build.rs
  rust/cuvs/examples/cagra.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/error.rs
  rust/cuvs/src/lib.rs
  rust/cuvs/src/resources.rs
Labels: improvement, non-breaking, ci

#40 Fix 'cuvs' conda package to only include Python artifacts and clean build.sh
  build.sh
  ci/build_wheel_cuvs.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/meta.yaml
  dependencies.yaml
  python/cuvs/CMakeLists.txt
  python/cuvs/pyproject.toml
Labels: bug, non-breaking, ci, CMake, Python, Build

#46 Docs 2404 api docs
  docs/source/build.md
  docs/source/index.rst
Labels: doc, non-breaking, Python

#45 Remove hard-coding of RAPIDS version where possible
  build.sh
  ci/build_docs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/doxygen/Doxyfile
  docs/source/conf.py
  fetch_rapids.cmake
  python/cuvs/CMakeLists.txt
  rapids_config.cmake
Labels: improvement, non-breaking, ci, cpp, CMake, Python

#49 Add Rust API docs
  build.sh
  ci/build_docs.sh
  dependencies.yaml
  docs/source/rust_api.rst
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/mod.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/lib.rs
  rust/cuvs/src/resources.rs
Labels: doc, non-breaking, ci

#50 add rust to conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#52 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-aarch64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#54 More docs updates for 24.04
  README.md
  docs/source/working_with_ann_indexes.rst
  docs/source/working_with_ann_indexes_c.rst
  docs/source/working_with_ann_indexes_cpp.rst
  docs/source/working_with_ann_indexes_python.rst
  docs/source/working_with_ann_indexes_rust.rst
Labels: doc, non-breaking

#53 Update build.sh to build rust bindings
  README.md
  build.sh
  ci/build_rust.sh
  ci/release/update-version.sh
  docs/source/build.rst
  rust/Cargo.toml
Labels: improvement, non-breaking, ci

#48 Replace local copyright check with pre-commit-hooks verify-copyright
  .pre-commit-config.yaml
  ci/checks/copyright.py
Labels: improvement, non-breaking, ci

#57 Remove unused get_*.cmake files.
  cpp/cmake/thirdparty/get_fmt.cmake
  cpp/cmake/thirdparty/get_glog.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_spdlog.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
Labels: improvement, non-breaking, cpp, CMake

#56 Add ability to allocate with RMM to the c-api and rust api
  ci/build_rust.sh
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  rust/cuvs-sys/build.rs
  rust/cuvs/src/cagra/index.rs
  rust/cuvs/src/cagra/index_params.rs
  rust/cuvs/src/cagra/search_params.rs
  rust/cuvs/src/dlpack.rs
  rust/cuvs/src/resources.rs
Labels: improvement, non-breaking, ci, cpp

#60 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking
