Repository rapidsai/cuvs, pull requests merged in 2024-02, with the labels that each got.

#28 CAGRA C-api compile fixes
  build.sh
  cpp/include/cuvs/neighbors/cagra_c.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra_c.cu
  cpp/test/neighbors/c_api.c
Labels: improvement, non-breaking, cpp, CMake, vector search, C

#31 Removing Python from build to get CI passing
  README.md
  build.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel_cuvs.sh
  ci/test_python.sh
  ci/test_wheel_cuvs.sh
  conda/recipes/libcuvs/build_libcuvs_examples.sh
  conda/recipes/libcuvs/meta.yaml
  cpp/examples/CMakeLists.txt
  cpp/examples/README.md
  cpp/examples/build.sh
  cpp/examples/cmake/thirdparty/fetch_rapids.cmake
  cpp/examples/cmake/thirdparty/get_cuvs.cmake
  cpp/examples/src/cagra_example.cu
  cpp/examples/src/common.cuh
  cpp/include/cuvs/neighbors/cagra_c.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra_c.cu
  cpp/test/neighbors/c_api.c
  docs/source/index.rst
Labels: improvement, non-breaking, ci, cpp, CMake

#32 Fixing googletests
  README.md
  ci/build_wheel_cuvs.sh
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/neighbors/ann_cagra_c.cu
  cpp/test/neighbors/c_api.c
  docs/source/contributing.md
  docs/source/cpp_api/core_interop.rst
  fetch_rapids.cmake
Labels: improvement, non-breaking, ci, cpp, CMake

#36 Adding necessary codeowner groups
  .github/CODEOWNERS
Labels: improvement, non-breaking
