Repository rapidsai/cuvs, pull requests merged in 2024-12, with the labels that each got.

#501 prefer system install of UCX in devcontainers
  .devcontainer/Dockerfile
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#465 HNSW CPU Hierarchy
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/cmake/patches/hnswlib.diff
  cpp/cmake/patches/hnswlib_override.json
  cpp/cmake/thirdparty/get_hnswlib.cmake
  cpp/include/cuvs/neighbors/hnsw.h
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw.cpp
  cpp/src/neighbors/hnsw_c.cpp
  cpp/src/neighbors/iface/iface.hpp
  cpp/test/neighbors/ann_hnsw_c.cu
  cpp/test/neighbors/hnsw.cu
  dependencies.yaml
  docs/source/c_api/neighbors_hnsw_c.rst
  docs/source/cpp_api/neighbors_hnsw.rst
  python/cuvs/cuvs/neighbors/hnsw/__init__.py
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pxd
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pyx
  python/cuvs/cuvs/test/test_hnsw.py
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra_hnswlib.yaml
Labels: breaking, feature request, cpp, CMake, Python

#504 add a README for wheels
  python/cuvs/README.md
Labels: improvement, non-breaking

#451 Add Question Retrieval notebook using Milvus
  notebooks/VectorSearch_QuestionRetrieval_Milvus.ipynb
Labels: feature request, non-breaking, Python

#489 [BUG] Fix CAGRA filter
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/test/neighbors/ann_cagra.cuh
Labels: bug, non-breaking, cpp

#311 [WIP] Add pinned memory resource to C API
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  cpp/test/core/c_api.c
Labels: improvement, non-breaking, cpp

#261 Dynamic Batching
  cpp/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/dynamic_batching.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/dynamic_batching.cuh
  cpp/src/neighbors/dynamic_batching.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/dynamic_batching.cuh
  cpp/test/neighbors/dynamic_batching/test_cagra.cu
  cpp/test/neighbors/dynamic_batching/test_ivf_flat.cu
  cpp/test/neighbors/dynamic_batching/test_ivf_pq.cu
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_dynamic_batching.rst
  examples/cpp/CMakeLists.txt
  examples/cpp/src/dynamic_batching_example.cu
Labels: improvement, non-breaking, cpp, CMake

#515 Branch 25.02 merge branch 24.12
  cpp/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/dynamic_batching.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/dynamic_batching.cuh
  cpp/src/neighbors/dynamic_batching.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/dynamic_batching.cuh
  cpp/test/neighbors/dynamic_batching/test_cagra.cu
  cpp/test/neighbors/dynamic_batching/test_ivf_flat.cu
  cpp/test/neighbors/dynamic_batching/test_ivf_pq.cu
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_dynamic_batching.rst
  examples/cpp/CMakeLists.txt
  examples/cpp/src/dynamic_batching_example.cu
Labels: cpp, CMake

#508 Remove upper bounds on cuda-python to allow 12.6.2 and 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
Labels: feature request, non-breaking

#494 Add C++ API scalar quantization
  cpp/CMakeLists.txt
  cpp/include/cuvs/preprocessing/quantize/scalar.hpp
  cpp/src/preprocessing/quantize/detail/scalar.cuh
  cpp/src/preprocessing/quantize/scalar.cu
  cpp/test/CMakeLists.txt
  cpp/test/preprocessing/scalar_quantization.cu
  docs/source/cpp_api.rst
  docs/source/cpp_api/preprocessing.rst
  docs/source/cpp_api/preprocessing_quantize.rst
Labels: feature request, non-breaking, cpp, CMake

#512 Skip IVF-PQ packing test for lists with not enough data
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: bug, non-breaking, cpp

#516 Update cuvs to match raft's cutlass changes
  .pre-commit-config.yaml
  cpp/cmake/patches/cutlass/build-export.patch
  cpp/cmake/patches/cutlass_override.json
  cpp/cmake/thirdparty/get_cutlass.cmake
Labels: improvement, non-breaking, cpp, CMake, Python

#463 Moving spectral embedding and kernel gramm APIs to cuVS
  build.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/agglomerative.hpp
  cpp/include/cuvs/distance/grammian.hpp
  cpp/include/cuvs/embed/spectral.hpp
  cpp/src/distance/detail/kernels/gram_matrix.cu
  cpp/src/distance/detail/kernels/gram_matrix.cuh
  cpp/src/distance/detail/kernels/kernel_factory.cu
  cpp/src/distance/detail/kernels/kernel_factory.cuh
  cpp/src/distance/detail/kernels/kernel_matrices.cu
  cpp/src/distance/detail/kernels/kernel_matrices.cuh
  cpp/src/distance/detail/kernels/rbf_fin_op.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch-ext.cuh
  cpp/src/distance/detail/pairwise_matrix/dispatch_rbf.cu
  cpp/src/distance/distance-ext.cuh
  cpp/src/distance/distance.cu
  cpp/src/embed/spectral.cu
  cpp/src/sparse/cluster/cluster_solvers.cuh
  cpp/src/sparse/cluster/detail/spectral.cuh
  cpp/src/sparse/cluster/detail/spectral/modularity_maximization.hpp
  cpp/src/sparse/cluster/detail/spectral/partition.hpp
  cpp/src/sparse/cluster/detail/spectral/spectral_util.cuh
  cpp/src/sparse/cluster/eigen_solvers.cuh
  cpp/src/sparse/cluster/modularity_maximization.cuh
  cpp/src/sparse/cluster/partition.cuh
  cpp/test/CMakeLists.txt
  cpp/test/distance/gram.cu
  cpp/test/distance/gram_base.cuh
  cpp/test/sparse/cluster/cluster_solvers.cu
  cpp/test/sparse/cluster/eigen_solvers.cu
  cpp/test/sparse/cluster/spectral.cu
  cpp/test/sparse/cluster/spectral_matrix.cu
  cpp/test/sparse/gram.cu
Labels: improvement, non-breaking, cpp, CMake

#466 Modify cuvs-bench to be able to generate ground truth in CPU systems
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/meta.yaml
  dependencies.yaml
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
  python/cuvs_bench/cuvs_bench/run/data_export.py
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, Python

#524 Update cuda-python lower bounds to 12.6.2 / 11.8.5
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#526 Branch 25.02 merge 24.12
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/meta.yaml
  dependencies.yaml
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
  python/cuvs_bench/cuvs_bench/run/data_export.py
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, Python

#527 Fix Grace-specific issues in CAGRA
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/utils.hpp
  cpp/src/neighbors/detail/dataset_serialize.hpp
  cpp/test/neighbors/ann_cagra.cuh
Labels: bug, non-breaking, cpp

#532 Fix cagra::extend error message
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Labels: bug, non-breaking

#541 Fix CI for python cuvs_bench
  conda/recipes/cuvs-bench/meta.yaml
Labels: improvement, non-breaking, Python

#546 Additional Distances for CAGRA C and Python API
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/test/test_cagra.py
Labels: improvement, non-breaking, cpp, C, Python

#528 Use nvidia-sphinx-theme for docs
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/conf.py
Labels: doc, non-breaking

#547 Add support for float16 to the python pairwise distance api
  cpp/src/distance/pairwise_distance_c.cpp
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/test/test_distance.py
Labels: improvement, non-breaking, cpp, Python

#548 Check if nightlies have succeeded recently enough
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#540 Update for raft logger changes
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_auto_find_k.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/distance/detail/sparse/coo_spmv_kernel.cuh
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/dataset_serialize.hpp
  cpp/src/neighbors/detail/dynamic_batching.cuh
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/detail/vamana/vamana_structs.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_interleaved_scan.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_fp_8bit.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_serialize.cuh
  cpp/src/neighbors/mg/omp_checks.cpp
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_ivf_pq.cuh
  cpp/test/neighbors/ann_utils.cuh
  cpp/test/neighbors/brute_force.cu
Labels: breaking, improvement, cpp, CMake

#554 Get Breathe from conda again
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking
