Repository rapidsai/cuvs, pull requests merged in 2025-01, with the labels that each got.

#544 remove setup.cfg files, other packaging cleanup
  .pre-commit-config.yaml
  dependencies.yaml
  pyproject.toml
  python/cuvs/setup.cfg
  setup.cfg
Labels: improvement, non-breaking, Python

#557 Support raft's logger targets
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking, cpp, CMake

#536 Change brute_force api to match ivf*/cagra
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/dynamic_batching.cu
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/brute_force.cu
  cpp/test/neighbors/dynamic_batching/test_brute_force.cu
Labels: improvement, non-breaking, cpp, CMake

#562 Allow brute_force::build to work on host matrix dataset
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/src/neighbors/brute_force.cu
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/test/neighbors/brute_force.cu
Labels: improvement, non-breaking, cpp

#572 Expose col-major pairwise distances to python
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/core/interop.hpp
  cpp/src/distance/pairwise_distance_c.cpp
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/test/test_distance.py
Labels: improvement, non-breaking, cpp, Python

#573 Reduce the recall threshold for IVF-PQ low-precision LUT inner product tests
  cpp/test/neighbors/ann_ivf_pq.cuh
Labels: bug, non-breaking, cpp

#575 expose col-major bfknn to python
  cpp/src/distance/pairwise_distance_c.cpp
  cpp/src/neighbors/brute_force_c.cpp
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/common.py
  python/cuvs/cuvs/test/test_brute_force.py
Labels: improvement, non-breaking, cpp, Python

#570 Small fixes to docs and pairwise distances
  docs/source/cuvs_bench/index.rst
  python/cuvs/cuvs/distance/distance.pyx
  python/cuvs/cuvs/test/test_distance.py
Labels: bug, non-breaking, Python

#564 Fix broken link to python doc
  docs/source/conf.py
  docs/source/sphinxext/github_link.py
Labels: bug, non-breaking

#543 Fix typos in README
  README.md
Labels: doc, non-breaking

#582 Fix the use of constexpr in the dynamic batching header
  cpp/src/neighbors/detail/dynamic_batching.cuh
Labels: bug, non-breaking, cpp

#584 run_cuvs_pytests.sh uses proper test dir
  ci/run_cuvs_pytests.sh
Labels: improvement, non-breaking, ci

#586 Fixing small typo in cuvs bench docs
  docs/source/cuvs_bench/index.rst
Labels: doc, non-breaking

#567 Use GCC 13 in CUDA 12 conda builds.
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-aarch64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-125_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-125_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs-bench/conda_build_config.yaml
  conda/recipes/cuvs-bench/meta.yaml
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/cuvs/meta.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/meta.yaml
  cpp/test/distance/masked_nn.cu
  dependencies.yaml
Labels: improvement, non-breaking, cpp

#601 Revert "Temporarily skip CUDA 11 wheel CI"
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#596 [Fix] l2_exp random fail in half-float32 mixed precision on self-neighboring
  cpp/src/distance/detail/distance_ops/l2_exp.cuh
  python/cuvs/cuvs/test/test_distance.py
Labels: bug, non-breaking, cpp, C++, Python

#569 Improve the performance of CAGRA new vector addition with the default params
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Labels: breaking, improvement, cpp

#595 Add CAGRA InnerProduct test and fix a bug
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/nn_descent_float.cu
  cpp/src/neighbors/nn_descent_half.cu
  cpp/src/neighbors/nn_descent_int8.cu
  cpp/src/neighbors/nn_descent_uint8.cu
  cpp/test/neighbors/ann_cagra.cuh
Labels: bug, non-breaking, cpp

#589 fix create_pointset for throughput mode
  python/cuvs_bench/cuvs_bench/run/data_export.py
Labels: bug, non-breaking, Python

#565 [BUG] Fix CAGRA graph optimization bug
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/test/neighbors/ann_cagra/bug_extreme_inputs_oob.cu
Labels: bug, non-breaking, cpp

#592 fix cuvs_bench.run --groups options
  python/cuvs_bench/cuvs_bench/run/run.py
Labels: bug, non-breaking, Python

#605 Add cuda 12.8 support
  cpp/cmake/modules/ConfigureCUDA.cmake
  cpp/src/neighbors/detail/nn_descent.cuh
Labels: feature request, non-breaking, cpp, CMake

#604 update pip devcontainers to UCX 1.18, small update-version.sh fixes
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.5-pip/devcontainer.json
  README.md
  ci/release/update-version.sh
  python/cuvs_bench/cuvs_bench/plot/__main__.py
Labels: breaking, improvement, ci, Python

#615 add runtime dependency on libcuvs in cuvs wheels
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: bug, non-breaking, Python

#452 Add filtering for CAGRA to C API
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/test/neighbors/ann_cagra_c.cu
  examples/c/src/cagra_c_example.c
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/neighbors/filters/__init__.py
  python/cuvs/cuvs/neighbors/filters/filters.pyx
  python/cuvs/cuvs/test/test_cagra.py
  rust/cuvs/src/cagra/index.rs
Labels: improvement, non-breaking, cpp, Python

#617 Add Scalar Quantization to the c and python apis
  cpp/CMakeLists.txt
  cpp/include/cuvs/preprocessing/quantize/scalar.h
  cpp/src/preprocessing/quantize/scalar_c.cpp
  docs/source/python_api.rst
  docs/source/python_api/distance.rst
  docs/source/python_api/preprocessing.rst
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/preprocessing/CMakeLists.txt
  python/cuvs/cuvs/preprocessing/__init__.py
  python/cuvs/cuvs/preprocessing/quantize/__init__.py
  python/cuvs/cuvs/preprocessing/quantize/scalar/CMakeLists.txt
  python/cuvs/cuvs/preprocessing/quantize/scalar/__init__.pxd
  python/cuvs/cuvs/preprocessing/quantize/scalar/__init__.py
  python/cuvs/cuvs/preprocessing/quantize/scalar/scalar.pxd
  python/cuvs/cuvs/preprocessing/quantize/scalar/scalar.pyx
  python/cuvs/cuvs/test/test_doctests.py
  python/cuvs/cuvs/test/test_scalar_quantizer.py
Labels: improvement, non-breaking, cpp, CMake, Python

#602 Reduce CAGRA test runtime
  cpp/test/CMakeLists.txt
  cpp/test/neighbors/ann_cagra.cuh
  cpp/test/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_int8_t_uint32_t.cu
  cpp/test/neighbors/ann_cagra/test_uint8_t_uint32_t.cu
Labels: improvement, non-breaking, cpp, CMake

#561 FAISS with cuVS enabled in cuvs-bench
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/cmake/thirdparty/get_faiss.cmake
  python/cuvs_bench/cuvs_bench/config/algorithms.yaml
  python/cuvs_bench/cuvs_bench/config/algos/constraints/__init__.py
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/run/__main__.py
  python/cuvs_bench/cuvs_bench/run/run.py
  python/cuvs_bench/cuvs_bench/run/runners.py
Labels: improvement, non-breaking, cpp, CMake, Python

#621 Build and test with CUDA 12.8.0
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  docs/source/build.rst
Labels: improvement, non-breaking, cpp, CMake

#492 Improve multi-CTA algorithm
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/device_common.hpp
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/cagra/hashmap.hpp
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
Labels: improvement, non-breaking, cpp

#591 Fix cagra_hnsw serialization when dataset is not part of index
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra_serialize.cuh
  cpp/src/neighbors/detail/cagra/cagra_serialize.cuh
  cpp/src/neighbors/detail/hnsw.hpp
Labels: bug, non-breaking, cpp

#620 Fix indexing bug when using parallelism to build CPU hierarchy in HNSW
  cpp/include/cuvs/neighbors/hnsw.h
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw_c.cpp
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pyx
  python/cuvs/cuvs/tests/test_hnsw.py
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra_hnswlib.yaml
Labels: bug, non-breaking, cpp, Python

#558 Vamana build improvement and added docs
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/greedy_search.cuh
  cpp/src/neighbors/detail/vamana/macros.cuh
  cpp/src/neighbors/detail/vamana/priority_queue.cuh
  cpp/src/neighbors/detail/vamana/robust_prune.cuh
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/detail/vamana/vamana_structs.cuh
  cpp/src/neighbors/vamana.cuh
  cpp/src/neighbors/vamana_build_float.cu
  cpp/src/neighbors/vamana_build_int8.cu
  cpp/src/neighbors/vamana_build_uint8.cu
  cpp/src/neighbors/vamana_serialize.cuh
  cpp/src/neighbors/vamana_serialize_float.cu
  cpp/src/neighbors/vamana_serialize_int8.cu
  cpp/src/neighbors/vamana_serialize_uint8.cu
  cpp/tests/neighbors/ann_vamana.cuh
  cpp/tests/neighbors/ann_vamana/test_float_uint32_t.cu
  cpp/tests/neighbors/ann_vamana/test_int8_t_uint32_t.cu
  cpp/tests/neighbors/ann_vamana/test_uint8_t_uint32_t.cu
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_vamana.rst
  docs/source/indexes/indexes.rst
  docs/source/indexes/vamana.rst
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, cpp

#560 [Feat] Support `bitset` filter for Brute Force
  cpp/include/cuvs/neighbors/brute_force.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/sample_filter.cuh
  cpp/tests/neighbors/brute_force_prefiltered.cu
  python/cuvs/cuvs/tests/test_brute_force.py
Labels: feature request, non-breaking, cpp, Python

#568 Improve filtering documentation
  cpp/include/cuvs/neighbors/common.hpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_bruteforce.rst
  docs/source/cpp_api/neighbors_filter.rst
  docs/source/filtering.rst
  docs/source/getting_started.rst
  docs/source/indexes/bruteforce.rst
  docs/source/indexes/cagra.rst
  docs/source/indexes/ivfflat.rst
  docs/source/indexes/ivfpq.rst
  examples/cpp/CMakeLists.txt
  examples/cpp/src/brute_force_bitmap.cu
Labels: improvement, non-breaking, cpp, CMake

#276 Expose `extend()` in C API
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/tests/neighbors/ann_cagra_c.cu
Labels: improvement, non-breaking, cpp, Python

#630 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#627 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
