Repository rapidsai/cuvs, pull requests merged in 2025-06, with the labels that each got.

#968 Fix for recent NCCL resource update
  cpp/src/neighbors/mg/snmg.cuh
Labels: bug, non-breaking, cpp

#916 [Java] Replace the C wrapper layer with the Panama API-based Java implementation
  java/README.md
  java/build.sh
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraCompressionParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/LinkerHelper.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/LoaderUtils.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/internal/CMakeLists.txt
  java/internal/src/cuvs_java.c
  java/panama-bindings/generate-bindings.sh
  java/panama-bindings/gpuinfo.h
  java/panama-bindings/headers.h
Labels: improvement, non-breaking, CMake

#981 [java] Copy `pom.xml` to `target/` on build
  java/build.sh
Labels: improvement, non-breaking, Java, Build

#984 Fix rust publishing step
  .pre-commit-config.yaml
  java/internal/rapids_config.cmake
  rust/cuvs-sys/rapids_config.cmake
Labels: bug, non-breaking

#990 Update rust/cuvs-sys
  ci/build_rust.sh
  rust/cuvs-sys/CMakeLists.txt
  rust/cuvs-sys/cmake
  rust/cuvs-sys/rapids_config.cmake
Labels: bug, non-breaking, ci, CMake

#994 Fix for NN Descent negative or NaN distances
  cpp/src/neighbors/detail/nn_descent.cuh
Labels: bug, non-breaking, cpp

#1008 Update nightly CI check to allow 30 days of failing nightly build.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#1017 Fix verify-copyright precommit hook
  .pre-commit-config.yaml
Labels: bug, non-breaking

#1006 [REVIEW][Java] Refactor CagraBuildAndSearchIT to explicitly express different execution modes
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
Labels: improvement, non-breaking

#1005 [REVIEW][Java] Add jextract artifacts to gitignore
  java/.gitignore
Labels: improvement, non-breaking

#1004 [REVIEW][Java] Add instructions on how to run a single test
  java/README.md
Labels: doc, non-breaking

#996 Fix C compile error in `tiered_index.h`
  cpp/include/cuvs/neighbors/tiered_index.h
  cpp/tests/neighbors/c_api.c
Labels: bug, non-breaking, cpp

#863 [BUG] cuvs-bench data_export fixes
  python/cuvs_bench/cuvs_bench/run/data_export.py
  python/cuvs_bench/cuvs_bench/tests/test_cli.py
Labels: bug, non-breaking, Python

#1029 Pin Faiss Version to Last Stable Release
  cpp/cmake/patches/faiss_override.json
Labels: bug, non-breaking, cpp, CMake

#998 Remove pytest pin
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: improvement, non-breaking, Python

#1047 Make rust publish run after conda upload
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#1019 refactor(shellcheck): fix all remaining warnings/errors
  .github/CODEOWNERS
  .pre-commit-config.yaml
  .shellcheckrc
  build.sh
  ci/checks/black_lists.sh
  cpp/scripts/run-cmake-format.sh
  examples/build.sh
  java/build.sh
  java/panama-bindings/generate-bindings.sh
Labels: improvement, non-breaking, ci, cpp

#997 Enable `build_sorted_mst` with data on host memory
  cpp/src/cluster/detail/mst.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/cluster/connect_knn.cu
Labels: feature request, non-breaking, cpp, CMake

#1003 Reuse `<version_config.h>` instead of separate version constants in `c_api.h`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  cpp/tests/core/c_api.c
  java/examples/README.md
Labels: bug, non-breaking, ci, cpp, CMake

#1060 Exporting changed `graph_build_params` namespace into `all_neighbors`
  cpp/include/cuvs/neighbors/all_neighbors.hpp
Labels: improvement, non-breaking, cpp

#1063 Use CUDA 12.9 in Conda, Devcontainers, Spark, GHA, etc.
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .github/workflows/pr.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-129_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-129_arch-x86_64.yaml
  conda/environments/go_cuda-129_arch-aarch64.yaml
  conda/environments/go_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.rst
  docs/source/cuvs_bench/index.rst
Labels: improvement, non-breaking
