Repository rapidsai/cuvs, pull requests merged in 2025-05, with the labels that each got.

#831 [CuVS-Java] Automate panama bindings generation, Include IVF_PQ parameters in CAGRA index parameters and other changes
  java/.gitignore
  java/README.md
  java/build.sh
  java/cuvs-java/.gitignore
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndexParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqIndexParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSIvfPqSearchParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/BruteForceH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CagraH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSBruteForceIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraCompressionParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSCagraSearchParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSFilter.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSHnswExtendParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSHnswIndex.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSHnswIndexParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/CuVSHnswSearchParams.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLDataType.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLDevice.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLManagedTensor.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLManagedTensorVersioned.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLPackVersion.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DLTensor.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DistanceH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/DlpackH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/Fsidt.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/GpuInfo.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/GpuInfoH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/HnswH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/IvfFlatH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/IvfPqH.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/panama/MaxAlignT.java
  java/examples/.gitignore
  java/examples/README.md
  java/examples/pom.xml
  java/examples/src/main/java/com/nvidia/cuvs/examples/BruteForceExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/CagraExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/HnswExample.java
  java/examples/src/main/resources/.gitkeep
  java/examples/src/main/resources/log4j2.xml
  java/internal/src/cuvs_java.c
  java/panama-bindings/generate-bindings.sh
  java/panama-bindings/gpuinfo.h
  java/panama-bindings/headers.h
Labels: bug, non-breaking, Java

#689 Optimize euclidean distance in host refine phase
  cpp/src/neighbors/refine/refine_host.hpp
Labels: improvement, non-breaking, cpp

#818 [cuvs_bench] distinguish search label from build label in data_export.py
  python/cuvs_bench/cuvs_bench/run/data_export.py
Labels: improvement, non-breaking, Python

#782 [DOCS] Fix Integration Docs (Faiss)
  docs/source/integrations/faiss.rst
Labels: doc, non-breaking, Python, faiss

#872 chore: lower wheel size threshold
  ci/validate_wheel.sh
  python/libcuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#813 Add support for half in CAGRA+HNSW
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib.cu
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/hnswlib/hnswlib_benchmark.cpp
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
  cpp/cmake/patches/hnswlib.diff
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw.cpp
  cpp/src/neighbors/hnsw_c.cpp
  cpp/tests/neighbors/hnsw.cu
  python/cuvs/cuvs/neighbors/hnsw/hnsw.pyx
  python/cuvs/cuvs/tests/test_hnsw.py
Labels: feature request, non-breaking, cpp, CMake, C++, Python

#878 Exclude librmm.so from auditwheel
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci

#861 ANN_BENCH: Expose parallel_mode parameter of FAISS CPU IVF implementation
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
Labels: improvement, non-breaking, cpp

#859 [FIX] Revert negated InnerProduct distance for NN Descent
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp

#880 Accept host inputs in python for ivf-pq build and extend
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/tests/test_ivf_pq.py
Labels: improvement, non-breaking, cpp, Python

#805 [CI] Enable Java test in CI workflow
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  build.sh
  ci/build_java.sh
  ci/release/update-version.sh
  ci/test_java.sh
  dependencies.yaml
  java/build.sh
  java/cuvs-java/pom.xml
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswBuildAndSearchIT.java
  java/panama-bindings/generate-bindings.sh
Labels: feature request, non-breaking, ci

#862 Fix IVF PQ build metric for CAGRA
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/refine/refine_device.cuh
  cpp/tests/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#881 Expose ivf-pq centers to python/c
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/tests/test_ivf_pq.py
Labels: improvement, non-breaking, cpp, Python

#218 Moving random ball cover
  ci/validate_wheel.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ball_cover.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ball_cover.cu
  cpp/src/neighbors/ball_cover.cuh
  cpp/src/neighbors/ball_cover/ball_cover.cuh
  cpp/src/neighbors/ball_cover/common.cuh
  cpp/src/neighbors/ball_cover/detail/ball_cover/registers_00_generate.py
  cpp/src/neighbors/ball_cover/detail/ball_cover/registers_eps_pass_euclidean.cu
  cpp/src/neighbors/ball_cover/detail/ball_cover/registers_pass_one.cu
  cpp/src/neighbors/ball_cover/detail/ball_cover/registers_pass_two.cu
  cpp/src/neighbors/ball_cover/registers.cuh
  cpp/src/neighbors/ball_cover/registers.hpp
  cpp/src/neighbors/ball_cover/registers_types.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/ball_cover.cu
  cpp/tests/neighbors/spatial_data.h
Labels: improvement, non-breaking, ci, cpp, CMake, Python

#892 Quote head_rev in conda recipes
  conda/recipes/cuvs-bench-cpu/recipe.yaml
  conda/recipes/cuvs-bench/recipe.yaml
  conda/recipes/cuvs/recipe.yaml
  conda/recipes/libcuvs/recipe.yaml
Labels: improvement, non-breaking

#893 get Java artifacts from GitHub Actions artifact store
  ci/build_java.sh
Labels: improvement, non-breaking, ci

#869 Change snmg index to use updated multi gpu resource API
  cpp/src/neighbors/mg/snmg.cuh
Labels: improvement, non-breaking, cpp

#901 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/build.rst
  examples/go/README.md
  examples/rust/README.md
Labels: improvement, non-breaking

#677 [FEA] New algos and updates/corrections to Faiss cuvs-bench
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  python/cuvs_bench/cuvs_bench/config/algorithms.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_hnsw_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_cagra_hnsw.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_pq.yaml
Labels: bug, non-breaking, cpp, CMake, Python

#896 ANN_BENCH: fix the reported core count
  cpp/bench/ann/src/common/util.hpp
Labels: bug, non-breaking, cpp

#908 ANN_BENCH: Avoid repeated calls to raft::get_device_for_address in CAGRA search
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
Labels: improvement, non-breaking, cpp

#917 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  ci/build_wheel_libcuvs.sh
  ci/test_wheel_cuvs.sh
Labels: improvement, non-breaking, ci

#926 batch_load_iterator shall copy data located in host memory
  cpp/src/neighbors/detail/ann_utils.cuh
Labels: bug, non-breaking, cpp

#927 [FEA] Use Native Brute Force for Sparse Pairwise KNN
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/neighbors/detail/knn_graph.cuh
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/tests/sparse/neighbors/cross_component_nn.cu
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, cpp

#866 cagra.rst: fitered -> filtered
  docs/source/indexes/cagra.rst
Labels: doc, non-breaking

#915 Fix kmeans::predict argument order
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_predict_double.cu
  cpp/src/cluster/kmeans_predict_float.cu
Labels: bug, non-breaking, cpp

#940 stop uploading packages to downloads.rapids.ai
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  ci/build_wheel_libcuvs.sh
Labels: breaking, improvement, ci

#888 Expose ivf-flat centers to python/c
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build_common.cu
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/src/neighbors/nn_descent_c.cpp
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/tests/test_ivf_flat.py
Labels: improvement, non-breaking, cpp, Python

#713 [Feat] Add support of logical merge in Cagra
  cpp/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/cagra_index_wrapper.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/include/cuvs/neighbors/composite/index.hpp
  cpp/include/cuvs/neighbors/composite/merge.hpp
  cpp/include/cuvs/neighbors/index_base.hpp
  cpp/include/cuvs/neighbors/index_wrappers.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_index_wrapper.cu
  cpp/src/neighbors/composite/index.cu
  cpp/src/neighbors/composite/merge.cpp
  cpp/src/neighbors/detail/cagra/cagra_merge.cuh
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/tests/neighbors/ann_cagra.cuh
  cpp/tests/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/tests/neighbors/ann_cagra/test_half_uint32_t.cu
Labels: feature request, non-breaking, cpp, CMake, Python

#951 Revert "Fix kmeans::predict argument order (#915)"
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_predict_double.cu
  cpp/src/cluster/kmeans_predict_float.cu
Labels: bug, non-breaking, cpp

#741 Remove unused raft cagra header in add_nodes.cuh
  cpp/src/neighbors/detail/cagra/add_nodes.cuh
Labels: improvement, non-breaking, cpp

#902 [Java] New off-heap Dataset support for CAGRA and Bruteforce
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/Dataset.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/DatasetImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/BruteForceExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/CagraExample.java
  java/examples/src/main/java/com/nvidia/cuvs/examples/HnswExample.java
Labels: improvement, non-breaking, Java

#891 [Java] Exposing merge API for multiple CAGRA indices
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraMergeParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSTestCase.java
  java/internal/src/cuvs_java.c
Labels: improvement, non-breaking

#918 Add IVF-PQ support in CAGRA index params in Python
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/tests/test_cagra.py
Labels: feature request, non-breaking, Python

#960 Remove CUDA 11 devcontainers and update CI scripts
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .github/workflows/pr.yaml
  ci/build_python.sh
  ci/build_wheel.sh
  ci/test_wheel_cuvs.sh
  ci/validate_wheel.sh
  python/libcuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#962 Remove CUDA 11 from dependencies.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs/pyproject.toml
Labels: breaking, improvement, Python

#961 refactor(rattler): remove cuda11 options and general cleanup
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs-bench/conda_build_config.yaml
  conda/recipes/cuvs-bench/recipe.yaml
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/cuvs/recipe.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  conda/recipes/libcuvs/recipe.yaml
Labels: improvement, non-breaking
