Repository rapidsai/cuvs, pull requests merged in 2025-03, with the labels that each got.

#742 [RELEASE] `v25.02.01`
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/meta.yaml
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/detail/cagra/cagra_merge.cuh
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/tests/neighbors/ann_cagra.cuh
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceQuery.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSTestCase.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
  java/internal/src/cuvs_java.c
Labels: cpp

#745 Consolidate Conda environment for Rust
  ci/build_rust.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#717 [Feat] Expose search with bitset C API for Brute Force
  cpp/src/neighbors/brute_force_c.cpp
  cpp/tests/neighbors/brute_force_c.cu
  cpp/tests/neighbors/run_brute_force_c.c
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/tests/test_brute_force.py
Labels: feature request, non-breaking, cpp, Python

#750 cuvs-bench-cpu: avoid 'mkl' dependency on aarch64
  ci/build_python.sh
  conda/recipes/cuvs-bench-cpu/meta.yaml
  docs/source/cuvs_bench/index.rst
Labels: bug, non-breaking, ci

#702 Fix duplicate indices in batch NN Descent
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_batch.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent/test_float_uint32_t.cu
Labels: bug, non-breaking, cpp

#770 Relax max duplicates in batched NN Descent
  cpp/tests/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp

#736 Reduce memory consumption of scalar quantizer
  cpp/src/preprocessing/quantize/detail/scalar.cuh
Labels: improvement, non-breaking, cpp

#751 feat(libcuvs): port libcuvs to rattler-build
  .gitignore
  build.sh
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/cuvs-bench-cpu/build.sh
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench-cpu/recipe.yaml
  conda/recipes/cuvs-bench/build.sh
  conda/recipes/cuvs-bench/meta.yaml
  conda/recipes/cuvs-bench/recipe.yaml
  conda/recipes/cuvs/build.sh
  conda/recipes/cuvs/meta.yaml
  conda/recipes/cuvs/recipe.yaml
  conda/recipes/libcuvs/build_libcuvs.sh
  conda/recipes/libcuvs/build_libcuvs_examples.sh
  conda/recipes/libcuvs/build_libcuvs_static.sh
  conda/recipes/libcuvs/build_libcuvs_tests.sh
  conda/recipes/libcuvs/meta.yaml
  conda/recipes/libcuvs/recipe.yaml
  examples/build.sh
  python/cuvs/pyproject.toml
  python/cuvs_bench/pyproject.toml
  python/libcuvs/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#767 Support passing a dataset to `FromCagra`
  cpp/include/cuvs/neighbors/hnsw.h
  cpp/src/neighbors/detail/hnsw.hpp
  cpp/src/neighbors/hnsw_c.cpp
Labels: improvement, non-breaking, cpp

#780 Use new build_patch_only argument
  cpp/cmake/thirdparty/get_cutlass.cmake
  cpp/cmake/thirdparty/get_diskann.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_ggnn.cmake
  cpp/cmake/thirdparty/get_hnswlib.cmake
Labels: bug, non-breaking, cpp, CMake

#763 [BUG] Fix graph index sorting in CAGRA graph build by NN Descent
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
Labels: bug, non-breaking, cpp

#786 Removing print statement
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
Labels: improvement, non-breaking, cpp
