Repository rapidsai/cuvs, pull requests merged in 2025-02, with the labels that each got.

#509 Automatic adjustment of itopk size according to filtering rate
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  docs/source/indexes/cagra.rst
Labels: improvement, non-breaking, cpp, vector search

#624 ANN_BENCH enhanced dataset support
  cpp/bench/ann/src/common/ann_types.hpp
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/blob.hpp
  cpp/bench/ann/src/common/conf.hpp
  cpp/bench/ann/src/common/dataset.hpp
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_hnswlib_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_mg_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_mg_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_mg_ivf_pq_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_wrapper.h
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
  cpp/bench/ann/src/faiss/faiss_gpu_wrapper.h
  cpp/bench/ann/src/ggnn/ggnn_wrapper.cuh
  cpp/bench/ann/src/hnswlib/hnswlib_wrapper.h
Labels: feature request, non-breaking, cpp

#639 Fix std::lock_guard use for gcc 14 support
  cpp/bench/ann/src/common/thread_pool.hpp
  cpp/src/neighbors/iface/iface.hpp
Labels: bug, non-breaking, cpp

#612 Iteratively build graph index
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/tests/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#643 Revert docs builds to CI latest tag.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#610 CAGRA binary Hamming distance support
  cpp/CMakeLists.txt
  cpp/include/cuvs/distance/distance.h
  cpp/include/cuvs/preprocessing/quantize/binary.hpp
  cpp/internal/cuvs_internal/neighbors/naive_knn.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/compute_distance-ext.cuh
  cpp/src/neighbors/detail/cagra/compute_distance.cu
  cpp/src/neighbors/detail/cagra/compute_distance_00_generate.py
  cpp/src/neighbors/detail/cagra/compute_distance_standard-impl.cuh
  cpp/src/neighbors/detail/cagra/compute_distance_standard_BitwiseHamming_u8_uint32_dim128_t8.cu
  cpp/src/neighbors/detail/cagra/compute_distance_standard_BitwiseHamming_u8_uint32_dim256_t16.cu
  cpp/src/neighbors/detail/cagra/compute_distance_standard_BitwiseHamming_u8_uint32_dim512_t32.cu
  cpp/src/neighbors/detail/cagra/device_common.hpp
  cpp/src/neighbors/ivf_common.cuh
  cpp/src/preprocessing/quantize/binary.cu
  cpp/src/preprocessing/quantize/detail/binary.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/ann_cagra.cuh
  cpp/tests/neighbors/naive_knn.cuh
  cpp/tests/preprocessing/binary_quantization.cu
Labels: feature request, non-breaking, cpp, CMake

#647 Expose configuration singleton as a global context for ann-bench algos
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/common/conf.hpp
Labels: feature request, non-breaking, cpp

#637 Add float16 support in python for cagra/brute_force/ivf_pq and scalar quantizer
  cpp/include/cuvs/neighbors/brute_force.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/brute_force_c.cpp
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/src/preprocessing/quantize/scalar_c.cpp
  python/cuvs/cuvs/neighbors/brute_force/brute_force.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/preprocessing/quantize/scalar/scalar.pyx
  python/cuvs/cuvs/tests/test_brute_force.py
  python/cuvs/cuvs/tests/test_cagra.py
  python/cuvs/cuvs/tests/test_ivf_pq.py
  python/cuvs/cuvs/tests/test_scalar_quantizer.py
Labels: improvement, non-breaking, cpp, Python

#654 cuvs-bench Fixes
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/cmake/patches/faiss_override.json
Labels: bug, non-breaking, cpp, CMake

#648 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcuvs.sh
  ci/test_wheel_cuvs.sh
Labels: improvement, non-breaking, ci

#652 Add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#667 Fix ann-bench deadlocking on HNSW destruction due to task locks
  cpp/bench/ann/src/common/thread_pool.hpp
Labels: bug, non-breaking, cpp

#662 Add `shellcheck` to pre-commit and fix warnings
  .pre-commit-config.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_rust.sh
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  ci/build_wheel_libcuvs.sh
  ci/check_style.sh
  ci/checks/black_lists.sh
  ci/release/update-version.sh
  ci/test_wheel_cuvs.sh
  ci/validate_wheel.sh
Labels: improvement, non-breaking, ci

#661 Add build_type input field for test.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking, ci, CMake, Python

#212 Go API - [WIP]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  build.sh
  ci/build_go.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  go/brute_force/brute_force.go
  go/brute_force/brute_force_test.go
  go/cagra/cagra.go
  go/cagra/cagra_test.go
  go/cagra/extend_params.go
  go/cagra/index_params.go
  go/cagra/search_params.go
  go/distance.go
  go/distance_test.go
  go/dlpack.go
  go/dlpack_test.go
  go/exceptions.go
  go/go.mod
  go/go.sum
  go/ivf_flat/index_params.go
  go/ivf_flat/ivf_flat.go
  go/ivf_flat/ivf_flat_test.go
  go/ivf_flat/search_params.go
  go/ivf_pq/index_params.go
  go/ivf_pq/ivf_pq.go
  go/ivf_pq/ivf_pq_test.go
  go/ivf_pq/search_params.go
  go/memory_resource.go
  go/memory_resource_test.go
  go/resources.go
Labels: improvement, non-breaking, ci

#668 add docs for nn_descent
  docs/source/python_api/neighbors.rst
  docs/source/python_api/neighbors_nn_decent.rst
Labels: doc, non-breaking

#670 Add deep-100M to datasets.yaml for cuvs-bench
  python/cuvs_bench/cuvs_bench/config/datasets/datasets.yaml
Labels: feature request, non-breaking, Python, benchmarking

#664 Add filtering to python for ivf_flat
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/tests/neighbors/run_ivf_flat_c.c
  examples/c/src/ivf_flat_c_example.c
  go/ivf_flat/ivf_flat.go
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/tests/ann_utils.py
  python/cuvs/cuvs/tests/test_cagra.py
  python/cuvs/cuvs/tests/test_ivf_flat.py
  rust/cuvs/src/ivf_flat/index.rs
Labels: improvement, non-breaking, cpp, Python

#574 Run cuvs-bench pytests and end-to-end tests in CI
  ci/test_python.sh
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/meta.yaml
  dependencies.yaml
  python/cuvs_bench/.coveragerc
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_cagra_hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_mg_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_cpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_cagra.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_flat.yaml
  python/cuvs_bench/cuvs_bench/config/algos/faiss_gpu_ivf_pq.yaml
  python/cuvs_bench/cuvs_bench/config/algos/hnswlib.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/bigann-100M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/datasets.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-100M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-1B.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/deep-image-96-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/fashion-mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/gist-960-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-100-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-100-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-50-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/glove-50-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/lastfm-65-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/mnist-784-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/nytimes-256-angular.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/nytimes-256-inner.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/sift-128-euclidean.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_10M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_1M.yaml
  python/cuvs_bench/cuvs_bench/config/datasets/wiki_all_88M.yaml
  python/cuvs_bench/cuvs_bench/get_dataset/__main__.py
  python/cuvs_bench/cuvs_bench/plot/__main__.py
  python/cuvs_bench/cuvs_bench/run/data_export.py
  python/cuvs_bench/cuvs_bench/run/run.py
  python/cuvs_bench/cuvs_bench/tests/test_cli.py
  python/cuvs_bench/cuvs_bench/tests/test_run.py
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, ci, Python

#669 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#644 Use new rapids-logger library
  ci/build_cpp.sh
  ci/build_wheel.sh
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  cpp/CMakeLists.txt
  cpp/bench/ann/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/tests/CMakeLists.txt
  dependencies.yaml
  docs/source/developer_guide.md
  examples/cpp/CMakeLists.txt
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/distance/CMakeLists.txt
  python/cuvs/cuvs/neighbors/CMakeLists.txt
  python/cuvs/cuvs/neighbors/brute_force/CMakeLists.txt
  python/cuvs/cuvs/neighbors/cagra/CMakeLists.txt
  python/cuvs/cuvs/neighbors/filters/CMakeLists.txt
  python/cuvs/cuvs/neighbors/hnsw/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_flat/CMakeLists.txt
  python/cuvs/cuvs/neighbors/ivf_pq/CMakeLists.txt
  python/cuvs/cuvs/neighbors/nn_descent/CMakeLists.txt
  python/cuvs/cuvs/preprocessing/quantize/scalar/CMakeLists.txt
  python/libcuvs/libcuvs/load.py
  python/libcuvs/pyproject.toml
Labels: breaking, improvement, ci, cpp, CMake, Python

#629 Account for RAFT sparse types updates
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/cluster/single_linkage.cuh
  cpp/src/neighbors/detail/knn_brute_force.cuh
  cpp/src/neighbors/detail/reachability.cuh
  cpp/src/neighbors/reachability.cu
  cpp/src/sparse/cluster/detail/spectral.cuh
  cpp/src/sparse/cluster/detail/spectral/modularity_maximization.hpp
  cpp/src/sparse/cluster/detail/spectral/partition.hpp
  cpp/src/sparse/cluster/detail/spectral/spectral_util.cuh
  cpp/src/sparse/cluster/eigen_solvers.cuh
  cpp/src/sparse/cluster/modularity_maximization.cuh
  cpp/src/sparse/cluster/partition.cuh
  cpp/src/sparse/neighbors/cross_component_nn.cuh
  cpp/src/sparse/neighbors/detail/cross_component_nn.cuh
  cpp/tests/sparse/cluster/cluster_solvers.cu
  cpp/tests/sparse/cluster/eigen_solvers.cu
  cpp/tests/sparse/cluster/spectral.cu
Labels: improvement, non-breaking, cpp, Python

#684 Create Conda CI test env in one step
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_python.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#701 Consolidate more Conda solves in CI
  ci/build_docs.sh
  ci/build_go.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#707 Replace `cub::TransformInputIterator` with `thrust::transform_iterator`
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_common.cuh
  cpp/src/cluster/detail/kmeans_mg.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/tests/cluster/kmeans.cu
Labels: improvement, non-breaking, cpp

#633 Add `verify-codeowners` hook
  .github/CODEOWNERS
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#711 Expand NVTX annotations in CAGRA build and HNSW
  cpp/CMakeLists.txt
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/src/neighbors/hnsw.cpp
Labels: improvement, non-breaking, cpp, CMake

#691 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs-bench/conda_build_config.yaml
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  examples/c/CMakeLists.txt
  examples/cpp/CMakeLists.txt
  java/internal/CMakeLists.txt
  python/cuvs/CMakeLists.txt
  python/cuvs/pyproject.toml
  python/libcuvs/CMakeLists.txt
  python/libcuvs/pyproject.toml
  rust/cuvs-sys/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, Python

#723 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#260 Diskann Benchmarking Wrapper
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/meta.yaml
  conda/recipes/cuvs-bench/meta.yaml
  cpp/bench/ann/CMakeLists.txt
  cpp/bench/ann/src/common/benchmark.hpp
  cpp/bench/ann/src/cuvs/cuvs_vamana.cu
  cpp/bench/ann/src/cuvs/cuvs_vamana_wrapper.h
  cpp/bench/ann/src/diskann/diskann_benchmark.cpp
  cpp/bench/ann/src/diskann/diskann_wrapper.h
  cpp/cmake/patches/diskann.diff
  cpp/cmake/patches/diskann_override.json
  cpp/cmake/patches/faiss_override.json
  cpp/cmake/thirdparty/get_diskann.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/vamana.cuh
  cpp/src/neighbors/vamana_serialize.cuh
  dependencies.yaml
  python/cuvs_bench/cuvs_bench/config/algorithms.yaml
  python/cuvs_bench/cuvs_bench/config/algos/constraints/__init__.py
  python/cuvs_bench/cuvs_bench/config/algos/cuvs_vamana.yaml
  python/cuvs_bench/cuvs_bench/config/algos/diskann_memory.yaml
  python/cuvs_bench/cuvs_bench/config/algos/diskann_ssd.yaml
Labels: feature request, non-breaking, cpp, CMake, Python, benchmarking

#733 ANN_BENCH: Fix segfault in CAGRA wrapper when moving its graph
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
Labels: bug, non-breaking, cpp

#731 [Opt] add required content to cuvs_java `pom.xml`
  java/cuvs-java/pom.xml
Labels: improvement, non-breaking
