Repository rapidsai/cuvs, pull requests merged in 2025-07, with the labels that each got.

#911 [ANN_BENCH] Fix OpenMP Sections in Wrappers
  cpp/bench/ann/src/diskann/diskann_wrapper.h
  cpp/bench/ann/src/faiss/faiss_cpu_benchmark.cpp
  cpp/bench/ann/src/faiss/faiss_cpu_wrapper.h
Labels: bug, non-breaking, cpp, benchmarking

#1018 Instantiate only specific RAFT linewise kernels
  cpp/src/cluster/detail/kmeans.cuh
  cpp/src/cluster/detail/kmeans_balanced.cuh
  cpp/src/cluster/detail/kmeans_mg.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/stats/detail/silhouette_score.cuh
  cpp/tests/neighbors/ann_cagra.cuh
Labels: improvement, non-breaking, cpp

#1045 [Review][Java] Fix random segabort/segfault/double free problems
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
Labels: improvement, non-breaking

#1081 Minor correction for Java test instructions
  java/README.md
Labels: doc, non-breaking

#1057 hnsw::from_cagra: avoid allocating the graph twice
  cpp/src/neighbors/detail/hnsw.hpp
Labels: improvement, non-breaking, cpp

#1024 [Java] Encapsulate on-heap float arrays into `Dataset`
  java/README.md
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/Dataset.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/DatasetImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
Labels: improvement, non-breaking, Java

#1007 [Java] Using functions for mapping
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/HnswQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/SearchResults.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceSearchResults.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraSearchResults.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswSearchResults.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/SearchResultsImpl.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
Labels: breaking, improvement

#1033 [Java] Add Java API benchmarks
  java/.gitignore
  java/benchmarks/README.md
  java/benchmarks/pom.xml
  java/benchmarks/src/main/java/com/nvidia/cuvs/CagraIndexBenchmarks.java
Labels: improvement, non-breaking, Java

#1026 fix(cli): Add validation for search-mode parameter
  python/cuvs_bench/cuvs_bench/run/__main__.py
Labels: improvement, non-breaking, Python

#1092 [BUG] Disable flaky cpp test `AnnIVFFlatTestF_half.AnnIVFFlat/21`
  cpp/tests/neighbors/ann_ivf_flat.cuh
Labels: bug, non-breaking, cpp

#1034 [Java] Add Dataset based on `MemorySegment`
  java/benchmarks/src/main/java/com/nvidia/cuvs/CagraIndexBenchmarks.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/Dataset.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/DatasetHelper.java
Labels: improvement, non-breaking, Java

#1106 [Java] Fix POM
  java/build.sh
  java/cuvs-java/pom.xml
Labels: improvement, non-breaking

#846 Serialize Vamana index with SSD sector alignment per MSFT DiskANN format, generate quantized dataset for integration with DiskANN
  ci/get_test_data.sh
  ci/test_cpp.sh
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_codebooks.cuh
  cpp/src/neighbors/detail/vamana/vamana_serialize.cuh
  cpp/src/neighbors/detail/vpq_dataset.cuh
  cpp/src/neighbors/vamana.cuh
  cpp/src/neighbors/vamana_codebooks_float.cu
  cpp/src/neighbors/vamana_serialize.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/ann_vamana.cuh
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, ci, cpp, CMake, Python

#1069 [Java] Tidy up `MemorySegment`s lifecycle
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
Labels: improvement, non-breaking

#1129 fix(docker): use versioned `-latest` tag for all `rapidsai` images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/publish-rust.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#1116 Add Golang build instructions to build.rst
  docs/source/build.rst
Labels: doc, non-breaking, Build

#1028 [Java] Support for tiered index
  java/cuvs-java/src/main/java/com/nvidia/cuvs/TieredIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/TieredIndexParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/TieredIndexQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredSearchResultsImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/TieredIndexIT.java
  java/panama-bindings/headers.h
Labels: feature request, non-breaking, Java

#1089 [Java] Introduce scoped resource access
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSResources.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CheckedCuVSResources.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSResourcesIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
Labels: improvement, non-breaking

#1133 Binary CAGRA with NN Descent
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/detail/cagra/graph_core.cuh
  cpp/tests/neighbors/ann_cagra.cuh
Labels: feature request, non-breaking, cpp

#1011 Adding GH_TOKEN pass-through to summarize job
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#871 Spectral Embedding
  cpp/CMakeLists.txt
  cpp/include/cuvs/preprocessing/spectral_embedding.hpp
  cpp/src/preprocessing/spectral/spectral_embedding.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/preprocessing/spectral_embedding.cu
Labels: feature request, non-breaking, cpp, CMake

#1086 Expose graph and dataset accessors for CAGRA to C/Python
  .pre-commit-config.yaml
  cpp/include/cuvs/cluster/kmeans.h
  cpp/include/cuvs/core/c_api.h
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/core/c_api.cpp
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/cuvs/common/CMakeLists.txt
  python/cuvs/cuvs/common/c_api.pxd
  python/cuvs/cuvs/common/cydlpack.pyx
  python/cuvs/cuvs/common/device_tensor_view.pyx
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/tests/test_cagra.py
  python/cuvs/cuvs/tests/test_device_tensor_view.py
Labels: improvement, non-breaking, cpp, CMake, Python

#1052 Deprecation notice for batching code specific to NN Descent
  cpp/src/neighbors/nn_descent.cuh
Labels: improvement, non-breaking, cpp, Ready to merge

#1128 Fix for `hellinger` metric
  cpp/src/distance/detail/distance.cuh
Labels: bug, non-breaking, cpp

#1166 [BUG] Fix Large Batch Preprocessing for NN Descent
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent/test_uint8_t_uint32_t.cu
Labels: bug, non-breaking, cpp

#1108 Conditionally post process distances in NN Descent for use with distance epilogue
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
Labels: bug, non-breaking, cpp, Ready to merge

#1109 [Java] Fix CAGRA params allocation
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSParamsHelper.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/CloseableHandle.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/CompositeCloseableHandle.java
Labels: improvement, non-breaking

#1171 Add error checking for our C example code
  .github/CODEOWNERS
  examples/.clang-format
  examples/.clang-tidy
  examples/.clangd
  examples/c/CMakeLists.txt
  examples/c/src/L2_c_example.c
  examples/c/src/cagra_c_example.c
  examples/c/src/common.h
  examples/c/src/ivf_flat_c_example.c
  examples/c/src/ivf_pq_c_example.c
  examples/cpp/src/brute_force_bitmap.cu
  examples/cpp/src/cagra_persistent_example.cu
  examples/cpp/src/common.cuh
  examples/cpp/src/dynamic_batching_example.cu
  examples/cpp/src/ivf_flat_example.cu
  examples/cpp/src/ivf_pq_example.cu
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, CMake

#1169 Allow latest OS in devcontainers
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Labels: improvement, non-breaking

#1130 Reducing binary size in `ivf_pq` by deduplicating kernels
  cpp/CMakeLists.txt
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_contiguous_list_data.cu
  cpp/src/neighbors/ivf_pq/detail/ivf_pq_process_and_fill_codes.cu
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_contiguous_list_data.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_contiguous_list_data_impl.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_process_and_fill_codes.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_process_and_fill_codes_impl.cuh
Labels: improvement, non-breaking, cpp, CMake

#1156 Fix TieredIndexIT, Scoped resource access change was missed
  java/cuvs-java/src/test/java/com/nvidia/cuvs/TieredIndexIT.java
Labels: bug, non-breaking

#1030 Use GCC 14 in conda builds.
  ci/build_cpp.sh
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-129_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-129_arch-x86_64.yaml
  conda/environments/go_cuda-129_arch-aarch64.yaml
  conda/environments/go_cuda-129_arch-x86_64.yaml
  conda/environments/rust_cuda-129_arch-aarch64.yaml
  conda/environments/rust_cuda-129_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/conda_build_config.yaml
  conda/recipes/cuvs/conda_build_config.yaml
  conda/recipes/libcuvs/conda_build_config.yaml
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/bench/ann/src/faiss/faiss_gpu_benchmark.cu
  dependencies.yaml
Labels: improvement, non-breaking, ci, cpp

#1150 Removing all references to CUDA 11 from codebase
  cpp/bench/ann/src/common/util.hpp
  cpp/cmake/modules/FindSVE.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/src/preprocessing/quantize/detail/binary.cuh
  docs/source/build.rst
  docs/source/cuvs_bench/build.rst
  docs/source/cuvs_bench/index.rst
Labels: improvement, non-breaking, cpp, CMake

#1143 Update build infra to support new branching strategy
  RAPIDS_BRANCH
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  rust/cuvs-sys/RAPIDS_BRANCH
Labels: improvement, non-breaking, CMake

#1164 [ANN_BENCH] [DOCS] Add Vamana / DiskANN to cuvs-bench Docs
  cpp/bench/ann/src/diskann/diskann_benchmark.cpp
  docs/source/cuvs_bench/index.rst
  docs/source/cuvs_bench/param_tuning.rst
Labels: doc, non-breaking, cpp

#1147 [Java]Fixed TieredIndexParams creation/destruction, calling cuvsTieredIndexParamsCreate
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSParamsHelper.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
Labels: improvement, non-breaking, Java

#1193 Check shape is initialized in cuvsMatrixSliceRows
  cpp/src/core/c_api.cpp
Labels: improvement, non-breaking, cpp, Ready to merge

#1197 Spectral Embedding precomputed graph api
  cpp/include/cuvs/preprocessing/spectral_embedding.hpp
  cpp/src/preprocessing/spectral/spectral_embedding.cu
Labels: improvement, non-breaking, cpp, Ready to merge

#1203 Add error handling for CPU-only bench
  cpp/bench/ann/src/common/util.hpp
  python/cuvs_bench/cuvs_bench/run/run.py
Labels: bug, non-breaking, cpp, Python

#1204 Remove unused templated instances
  cpp/CMakeLists.txt
  cpp/src/distance/detail/fused_distance_nn.cu
Labels: improvement, non-breaking, cpp, CMake, Waiting for review
