Repository rapidsai/cuvs, pull requests merged in 2025-08, with the labels that each got.

#1082 [Java][Fix] Multithreaded querying fails without synchronization
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BruteForceQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraSearchParams.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/HnswQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/TieredIndexQuery.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraMultiThreadStabilityIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/TieredIndexIT.java
Labels: bug, non-breaking

#1032 Improve Vamana index build performance and recall
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/src/neighbors/detail/vamana/greedy_search.cuh
  cpp/src/neighbors/detail/vamana/macros.cuh
  cpp/src/neighbors/detail/vamana/robust_prune.cuh
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  cpp/src/neighbors/detail/vamana/vamana_structs.cuh
  cpp/tests/neighbors/ann_vamana.cuh
  examples/cpp/src/vamana_example.cu
Labels: improvement, non-breaking, cpp, C++

#1209 [Java] Add decorator for synchronized CuVSResource access
  java/cuvs-java/src/main/java/com/nvidia/cuvs/SynchronizedCuVSResources.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraMultiThreadStabilityIT.java
Labels: improvement, non-breaking

#1093 Processing mutual reachability dist in connect_knn_graph for host data
  cpp/src/cluster/detail/mst.cuh
  cpp/tests/cluster/connect_knn.cu
Labels: bug, non-breaking, cpp, Waiting for author

#1225 Update another instance of rapids-build-backend
  conda/environments/bench_ann_cuda-129_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking

#1219 Updates needed when building with CUDA 13
  cpp/include/cuvs/neighbors/common.hpp
  cpp/tests/CMakeLists.txt
Labels: feature request, non-breaking

#1227 Update rapids_config to handle user defined branch name
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
Labels: improvement, non-breaking

#1215 [Java] Exception-safe RMM Allocations
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/CloseableRMMAllocation.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
Labels: improvement, non-breaking, Java

#1239 Use rapids_cuda_enable_fatbin_compression
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking

#1216 [Java] Add CAGRA index graph accessor/build from graph (host memory)
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSMatrix.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSHostMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixBaseImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
Labels: feature request, non-breaking, Waiting for review

#1238 [Improvement] Replace Calls to thrust::transform with raft::linalg
  cpp/src/cluster/detail/connectivities.cuh
  cpp/src/neighbors/ball_cover/ball_cover.cuh
  cpp/src/neighbors/ball_cover/registers.cuh
  cpp/src/neighbors/detail/reachability.cuh
  cpp/tests/cluster/connect_knn.cu
  cpp/tests/neighbors/ann_ivf_flat.cuh
  cpp/tests/neighbors/ann_nn_descent.cuh
  cpp/tests/neighbors/ball_cover.cu
  cpp/tests/neighbors/brute_force_prefiltered.cu
  examples/cpp/src/ivf_flat_example.cu
Labels: improvement, non-breaking

#1246 Improve NN Descent documentation
  cpp/include/cuvs/neighbors/nn_descent.hpp
  cpp/src/neighbors/nn_descent.cuh
  python/cuvs/cuvs/neighbors/nn_descent/nn_descent.pyx
Labels: doc, non-breaking

#1255 Run `cargo fmt` in the pre-commit hooks
  .pre-commit-config.yaml
  rust/cuvs-sys/build.rs
  rust/cuvs/src/brute_force.rs
  rust/cuvs/src/distance/mod.rs
  rust/cuvs/src/ivf_flat/index.rs
  rust/cuvs/src/ivf_flat/index_params.rs
  rust/cuvs/src/ivf_pq/index_params.rs
  rust/cuvs/src/lib.rs
Labels: improvement, non-breaking

#1274 Revert "[Java]Binary and scalar quantization (#1104)"
  cpp/include/cuvs/preprocessing/quantize/binary.h
  java/cuvs-java/src/main/java/com/nvidia/cuvs/BinaryQuantizer.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraQuery.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSMatrix.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSQuantizer.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/Scalar8BitQuantizer.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BinaryQuantizerImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSHostMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixBaseImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/Scalar8BitQuantizerImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/QuantizationIT.java
  java/panama-bindings/headers.h
Labels: bug, non-breaking

#1232 [Java] CuVSMatrix for device memory
  java/.gitignore
  java/benchmarks/src/main/java/com/nvidia/cuvs/CuVSDeviceMatrixBenchmarks.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraIndex.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSDeviceMatrix.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSMatrix.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/RowView.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/BruteForceIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSDeviceMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSDeviceMatrixRMMImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSHostMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixBaseImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/HnswIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/SliceRowView.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/TieredIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/BruteForceRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSMatrixIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/HnswRandomizedIT.java
Labels: improvement, non-breaking

#1267 [Java][C] Expose GPUInfo
  cpp/include/cuvs/core/c_api.h
  cpp/src/core/c_api.cpp
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSResources.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSResourcesInfo.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/GPUInfo.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/GPUInfoProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/SynchronizedCuVSResources.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSResourcesImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/GPUInfoProviderImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CheckedCuVSResources.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSResourcesIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/GPUInfoIT.java
Labels: improvement, non-breaking

#1294 Port `raft::neighbors::epsilon_neighborhood` to cuvs
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/epsilon_neighborhood.hpp
  cpp/src/neighbors/detail/epsilon_neighborhood.cuh
  cpp/src/neighbors/epsilon_neighborhood.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/epsilon_neighborhood.cu
  docs/source/cpp_api/neighbors.rst
  docs/source/cpp_api/neighbors_epsilon_neighborhood.rst
Labels: improvement, non-breaking
