Repository rapidsai/cuvs, pull requests merged in 2025-09, with the labels that each got.

#1303 Expose pq-centers to C and Python
  cpp/include/cuvs/neighbors/ivf_flat.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/src/neighbors/ivf_pq_c.cpp
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pxd
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pxd
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
  python/cuvs/cuvs/tests/test_ivf_pq.py
Labels: improvement, non-breaking

#1319 Use branch-25.10 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#1286 ScaNN: Overlapped gather for AVQ
  cpp/src/neighbors/scann/detail/scann_avq.cuh
  cpp/src/neighbors/scann/detail/scann_build.cuh
Labels: improvement, non-breaking

#1296 [REVIEW] [Java] Option to build fat-jars with native dependencies included
  java/build.sh
  java/cuvs-java/pom.xml
  java/cuvs-java/src/assembly/native-with-deps.xml
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/OptionalNativeDependencyLoader.java
  java/docker-build/Dockerfile
  java/docker-build/README.md
  java/docker-build/build-in-docker
  java/docker-build/run-in-docker
Labels: feature request, non-breaking, Java, Build

#1327 [Java] Add `libcuvs` <-> cuvs-java version check
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSServiceProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/ProviderInitializationException.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
Labels: improvement, non-breaking

#1316 [Review][Java] Add detailed error message for `libcuvs` load failure to UnsupportedProvider/UnsupportedOperationExceptions
  java/cuvs-java/pom.xml
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSServiceProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/NativeLibraryUtils.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/NativeDependencyLoader.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/OptionalNativeDependencyLoader.java
Labels: improvement, non-breaking

#1313 Fix pq_compressed file created by SSD Vamana build
  cpp/src/neighbors/detail/vamana/vamana_build.cuh
  examples/cpp/src/vamana_example.cu
Labels: bug, non-breaking

#1331 Remove UCX-Py/UCXX from release script
  ci/release/update-version.sh
Labels: improvement, non-breaking

#1330 Fix inadvertent uses of copy constructor in mdarrays across cuVS
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_utils.h
  cpp/src/neighbors/ivf_pq_index.cu
  cpp/src/preprocessing/spectral/spectral_embedding.cu
  cpp/tests/distance/masked_nn.cu
  cpp/tests/neighbors/ann_ivf_flat.cuh
  examples/cpp/src/cagra_persistent_example.cu
Labels: bug, non-breaking

#1258 Fix debug build
  cpp/cmake/modules/ConfigureCUDA.cmake
Labels: improvement, non-breaking

#1299 Docs for spectral embedding
  cpp/include/cuvs/preprocessing/spectral_embedding.hpp
  docs/source/cpp_api/preprocessing.rst
  docs/source/cpp_api/preprocessing_spectral_embedding.rst
Labels: doc, non-breaking

#1324 Add cagra.extend bindings for python
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
  cpp/tests/neighbors/ann_cagra_c.cu
  docs/source/python_api/neighbors_cagra.rst
  go/cagra/cagra.go
  python/cuvs/cuvs/neighbors/cagra/__init__.py
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/tests/test_cagra.py
Labels: improvement, non-breaking

#1023 Update SNMG ANN API testing
  cpp/tests/neighbors/mg.cuh
Labels: improvement, non-breaking, cpp

#1365 [DOCS] Update IVF Docs with Supported Distance Metrics
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  python/cuvs/cuvs/neighbors/ivf_pq/ivf_pq.pyx
Labels: doc, non-breaking

#1283 [Review][Java] Expand `CagraIndex#search` to accept more types (int8 and int32)
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CagraQuery.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CagraIndexImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSDeviceMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixInternal.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/common/Util.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraBuildAndSearchIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraMultiThreadStabilityIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CagraRandomizedIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CheckedCuVSResources.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSResourcesIT.java
Labels: improvement, non-breaking

#1385 Update `cpp/cmake/config.json` for `ConfigureTest()`
  cpp/cmake/config.json
  cpp/tests/CMakeLists.txt
Labels: bug, non-breaking

#1345 [Java] Support row strides in CuVSMatrix
  java/cuvs-java/src/main/java/com/nvidia/cuvs/CuVSMatrix.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/CuVSProvider.java
  java/cuvs-java/src/main/java/com/nvidia/cuvs/spi/UnsupportedProvider.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSDeviceMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSDeviceMatrixRMMImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSHostMatrixArenaImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSHostMatrixImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixBaseImpl.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/internal/CuVSMatrixInternal.java
  java/cuvs-java/src/main/java22/com/nvidia/cuvs/spi/JDKProvider.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/CuVSMatrixIT.java
  java/cuvs-java/src/test/java/com/nvidia/cuvs/DatasetHelper.java
Labels: improvement, non-breaking

#1350 Treat warnings as errors in doc builds + MG ANNs Python API doc update
  build.sh
  ci/build_docs.sh
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/hnsw.hpp
  cpp/include/cuvs/neighbors/vamana.hpp
  cpp/include/cuvs/preprocessing/spectral_embedding.hpp
  docs/Makefile
  docs/source/neighbors/all_neighbors.rst
  docs/source/python_api/neighbors_mg_cagra.rst
  docs/source/python_api/neighbors_mg_ivf_flat.rst
  docs/source/python_api/neighbors_mg_ivf_pq.rst
Labels: improvement, non-breaking
