Repository rapidsai/cuvs, pull requests merged in 2025-04, with the labels that each got.

#769 CAGRA search: int64_t indices in the API
  cpp/bench/ann/src/cuvs/cuvs_cagra_wrapper.h
  cpp/include/cuvs/neighbors/cagra.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/src/neighbors/cagra.cuh
  cpp/src/neighbors/cagra_c.cpp
  cpp/src/neighbors/cagra_search_float.cu
  cpp/src/neighbors/cagra_search_half.cu
  cpp/src/neighbors/cagra_search_int8.cu
  cpp/src/neighbors/cagra_search_uint8.cu
  cpp/src/neighbors/detail/cagra/cagra_search.cuh
  cpp/src/neighbors/detail/cagra/factory.cuh
  cpp/src/neighbors/detail/cagra/search_multi_cta.cuh
  cpp/src/neighbors/detail/cagra/search_multi_kernel.cuh
  cpp/src/neighbors/detail/cagra/search_plan.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_inst.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel-inl.cuh
  cpp/src/neighbors/detail/cagra/search_single_cta_kernel.cuh
  cpp/src/neighbors/dynamic_batching.cu
  cpp/tests/neighbors/ann_cagra.cuh
  cpp/tests/neighbors/ann_cagra/test_float_uint32_t.cu
  cpp/tests/neighbors/ann_cagra/test_half_uint32_t.cu
Labels: feature request, non-breaking, cpp

#774 Fix resource import so generate_groundtruth works
  python/cuvs_bench/cuvs_bench/generate_groundtruth/__main__.py
Labels: bug, non-breaking, Python

#766 add function to build specific gpu-arches [REVIEW]
  build.sh
  examples/build.sh
Labels: improvement, non-breaking, Build

#768 Expose IVF PQ params in CAGRA C API
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/neighbors/cagra_c.cpp
Labels: feature request, non-breaking, cpp, Python

#797 Use L4 instead of V100
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#779 Go module - Usage docs
  ci/release/update-version.sh
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  examples/go/README.md
  examples/go/go.mod
  examples/go/go.sum
  examples/go/main.go
Labels: doc, improvement, ci

#789 Rust publishing updates
  .github/workflows/build.yaml
  .github/workflows/publish-rust.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  examples/rust/README.md
Labels: improvement, non-breaking

#808 Update libcuvs libraft ver to 25.06 in conda env
  conda/environments/go_cuda-118_arch-aarch64.yaml
  conda/environments/go_cuda-118_arch-x86_64.yaml
  conda/environments/go_cuda-128_arch-aarch64.yaml
  conda/environments/go_cuda-128_arch-x86_64.yaml
  conda/environments/rust_cuda-128_arch-aarch64.yaml
  conda/environments/rust_cuda-128_arch-x86_64.yaml
Labels: improvement, non-breaking

#816 Vendor RAPIDS.cmake
  cmake/RAPIDS.cmake
  cmake/rapids_config.cmake
  cpp/CMakeLists.txt
  java/internal/CMakeLists.txt
  python/cuvs/CMakeLists.txt
  python/libcuvs/CMakeLists.txt
  rust/cuvs-sys/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake, Python

#777 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
  ci/build_wheel_cuvs.sh
  ci/build_wheel_libcuvs.sh
Labels: improvement, non-breaking, ci

#824 Use vendored RAPIDS.cmake in example code.
  cpp/cmake/thirdparty/get_cuvs.cmake
  examples/c/CMakeLists.txt
  examples/cmake/thirdparty/fetch_rapids.cmake
  examples/cmake/thirdparty/get_cuvs.cmake
  examples/cpp/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#783 Remove `@rapidsai/cuvs-build-codeowners`
  .github/CODEOWNERS
Labels: improvement, non-breaking

#803 Moving NN Descent class and struct declarations to `nn_descent_gnnd.hpp`
  cpp/src/neighbors/detail/nn_descent.cuh
  cpp/src/neighbors/detail/nn_descent_batch.cuh
  cpp/src/neighbors/detail/nn_descent_gnnd.hpp
  cpp/src/neighbors/nn_descent_float.cu
Labels: improvement, non-breaking, cpp

#720 Update cuvs to properly create a NCCL::NCCL target
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking, cpp, CMake

#833 Add NN-Descent return_distances functionality to python/C
  cpp/include/cuvs/core/detail/interop.hpp
  cpp/include/cuvs/core/interop.hpp
  cpp/include/cuvs/neighbors/nn_descent.h
  cpp/src/neighbors/nn_descent_c.cpp
  python/cuvs/cuvs/neighbors/nn_descent/nn_descent.pxd
  python/cuvs/cuvs/neighbors/nn_descent/nn_descent.pyx
  python/cuvs/cuvs/tests/test_nn_descent.py
Labels: improvement, non-breaking, cpp, Python

#827 Use NCCL wheels from PyPI for CUDA 12 builds
  ci/build_wheel.sh
  ci/test_wheel_cuvs.sh
  dependencies.yaml
  python/libcuvs/CMakeLists.txt
Labels: feature request, non-breaking, ci, CMake, Python

#454 Moving MG functions into unified API + `raft::device_resources_snmg` as device resource type for MG functions
  cpp/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_benchmark.cu
  cpp/bench/ann/src/cuvs/cuvs_mg_cagra_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_mg_ivf_flat_wrapper.h
  cpp/bench/ann/src/cuvs/cuvs_mg_ivf_pq_wrapper.h
  cpp/include/cuvs/neighbors/cagra.hpp
  cpp/include/cuvs/neighbors/common.hpp
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/include/cuvs/neighbors/mg.hpp
  cpp/src/neighbors/iface/generate_iface.py
  cpp/src/neighbors/iface/iface.hpp
  cpp/src/neighbors/iface/iface_cagra_float_uint32_t.cu
  cpp/src/neighbors/iface/iface_cagra_half_uint32_t.cu
  cpp/src/neighbors/iface/iface_cagra_int8_t_uint32_t.cu
  cpp/src/neighbors/iface/iface_cagra_uint8_t_uint32_t.cu
  cpp/src/neighbors/iface/iface_flat_float_int64_t.cu
  cpp/src/neighbors/iface/iface_flat_int8_t_int64_t.cu
  cpp/src/neighbors/iface/iface_flat_uint8_t_int64_t.cu
  cpp/src/neighbors/iface/iface_pq_float_int64_t.cu
  cpp/src/neighbors/iface/iface_pq_half_int64_t.cu
  cpp/src/neighbors/iface/iface_pq_int8_t_int64_t.cu
  cpp/src/neighbors/iface/iface_pq_uint8_t_int64_t.cu
  cpp/src/neighbors/mg/generate_mg.py
  cpp/src/neighbors/mg/mg_cagra_float_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_half_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_int8_t_uint32_t.cu
  cpp/src/neighbors/mg/mg_cagra_uint8_t_uint32_t.cu
  cpp/src/neighbors/mg/mg_flat_float_int64_t.cu
  cpp/src/neighbors/mg/mg_flat_int8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_flat_uint8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_float_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_half_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_int8_t_int64_t.cu
  cpp/src/neighbors/mg/mg_pq_uint8_t_int64_t.cu
  cpp/src/neighbors/mg/nccl_comm.cpp
  cpp/src/neighbors/mg/omp_checks.cpp
  cpp/src/neighbors/mg/snmg.cuh
  cpp/tests/neighbors/mg.cuh
  docs/source/cpp_api/neighbors_mg.rst
Labels: improvement, non-breaking, cpp, CMake, Python

#838 IVF-PQ tests: fix segfault when accessing empty lists
  cpp/tests/neighbors/ann_ivf_pq.cuh
Labels: bug, non-breaking, cpp

#839 Specify matplotlib version
  conda/environments/bench_ann_cuda-118_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-118_arch-x86_64.yaml
  conda/environments/bench_ann_cuda-128_arch-aarch64.yaml
  conda/environments/bench_ann_cuda-128_arch-x86_64.yaml
  conda/recipes/cuvs-bench-cpu/recipe.yaml
  conda/recipes/cuvs-bench/recipe.yaml
  dependencies.yaml
  python/cuvs_bench/pyproject.toml
Labels: improvement, non-breaking, Python

#834 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_go.sh
  ci/build_python.sh
  ci/build_rust.sh
  ci/build_wheel_cuvs.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel_cuvs.sh
Labels: improvement, non-breaking, ci

#821 Fix test_brute_force conversion
  python/cuvs/cuvs/tests/test_brute_force.py
Labels: bug, non-breaking, Python

#828 Ann-bench: fix unsafe lazy blobs
  cpp/bench/ann/src/common/dataset.hpp
Labels: bug, non-breaking, cpp

#715 IVF-PQ: low-precision coarse search
  cpp/CMakeLists.txt
  cpp/bench/ann/src/cuvs/cuvs_ann_bench_param_parser.h
  cpp/include/cuvs/neighbors/ivf_pq.h
  cpp/include/cuvs/neighbors/ivf_pq.hpp
  cpp/src/neighbors/detail/ann_utils.cuh
  cpp/src/neighbors/detail/cagra/cagra_build.cpp
  cpp/src/neighbors/detail/cagra/cagra_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_build.cuh
  cpp/src/neighbors/ivf_pq/ivf_pq_search.cuh
  cpp/src/neighbors/ivf_pq_c.cpp
  cpp/src/neighbors/ivf_pq_index.cu
  cpp/tests/neighbors/ann_ivf_pq.cuh
Labels: feature request, non-breaking, cpp, CMake

#730 Add support of half dtype in IVF-FLAT
  cpp/CMakeLists.txt
  cpp/include/cuvs/neighbors/ivf_flat.hpp
  cpp/src/neighbors/ivf_flat/generate_ivf_flat.py
  cpp/src/neighbors/ivf_flat/ivf_flat_build.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_build_extend_half_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_helpers.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_search.cuh
  cpp/src/neighbors/ivf_flat/ivf_flat_search_half_int64_t.cu
  cpp/src/neighbors/ivf_flat/ivf_flat_serialize_half_int64_t.cu
  cpp/src/neighbors/ivf_flat_c.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/neighbors/ann_ivf_flat.cuh
  cpp/tests/neighbors/ann_ivf_flat/test_half_int64_t.cu
  cpp/tests/test_utils.cuh
  cpp/tests/test_utils.h
  python/cuvs/cuvs/neighbors/ivf_flat/ivf_flat.pyx
  python/cuvs/cuvs/tests/test_ivf_flat.py
Labels: feature request, non-breaking, cpp, CMake, Python

#729 Expose kmeans to python
  cpp/CMakeLists.txt
  cpp/include/cuvs/cluster/kmeans.h
  cpp/include/cuvs/cluster/kmeans.hpp
  cpp/include/cuvs/neighbors/cagra.h
  cpp/src/cluster/kmeans.cuh
  cpp/src/cluster/kmeans_balanced_predict_float.cu
  cpp/src/cluster/kmeans_c.cpp
  cpp/src/cluster/kmeans_cluster_cost.cu
  cpp/src/neighbors/cagra_c.cpp
  python/cuvs/CMakeLists.txt
  python/cuvs/cuvs/cluster/CMakeLists.txt
  python/cuvs/cuvs/cluster/__init__.pxd
  python/cuvs/cuvs/cluster/__init__.py
  python/cuvs/cuvs/cluster/kmeans/CMakeLists.txt
  python/cuvs/cuvs/cluster/kmeans/__init__.pxd
  python/cuvs/cuvs/cluster/kmeans/__init__.py
  python/cuvs/cuvs/cluster/kmeans/kmeans.pxd
  python/cuvs/cuvs/cluster/kmeans/kmeans.pyx
  python/cuvs/cuvs/neighbors/cagra/cagra.pxd
  python/cuvs/cuvs/neighbors/cagra/cagra.pyx
  python/cuvs/cuvs/tests/test_doctests.py
  python/cuvs/cuvs/tests/test_kmeans.py
Labels: improvement, non-breaking, cpp, CMake, Python
